// -------------------------
// AJAX Cart
// -------------------------

body.ajax-cart-open {
  overflow: hidden;
}

.ajax-cart-container {
  position: fixed;
  z-index: $zindex-ajax-cart;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  background: $ajax-cart-bg;
  font-family: $headings-font-family;
  border: 0;
  pointer-events: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(100%);
  transition: all $transition-duration-slide $transition-timing-function-slide-out;

  &.is-open {
    pointer-events: auto;
    transform: translateX(0%);
    transition: all $transition-duration-slide $transition-timing-function-slide-in;
  }

  &.is-empty .ajax-cart__footer {
    display: none;
    pointer-events: none;
  }

  // Ensure that the cart is full width on screen sizes below this
  @include media-breakpoint-up('md') {
    max-width: $ajax-cart-width;
  }
}

// Ensure that the cart takes up the entire screen at all times
.ajax-cart-container,
.ajax-cart,
.ajax-cart-form {
  height: 100%;
}

.ajax-cart {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: $ajax-cart-bg;
}

.ajax-cart-form {
  display: flex;
  flex-direction: column;
}

.ajax-cart__header,
.ajax-cart__footer {
  padding: large-vw($ajax-cart-padding-vertical-mobile, $ajax-cart-padding-vertical) large-vw($ajax-cart-padding-horizontal-mobile, $ajax-cart-padding-horizontal);

  @include media-breakpoint-down('md') {
    padding: $ajax-cart-padding-vertical-mobile $ajax-cart-padding-horizontal-mobile;
    min-height: 50px;
  }
}

.ajax-cart__promo {
  padding: 35px $ajax-cart-padding-horizontal 5px;
  @include media-breakpoint-down('md') {
    padding: 30px $ajax-cart-padding-horizontal-mobile 0;
    text-align: center;
  }
  p {
    margin-bottom: 0;
    font-size: 20px;
    @include media-breakpoint-down('md') {
      font-size: 10px;
    }
  }
}

.ajax-cart__header {
  background-color: $black;
  padding: large-vw(9px, 35px) large-vw(20px, 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-down('md') {
    padding: 9px 20px;
  }

  .ajax-cart__title {
    @extend .h4;
    opacity: 1;
    margin-bottom: 0;
    color: $white;
    font-size: large-vw(16px, 30px);
    text-transform: none;
    font-weight: $font-weight-normal;
    @include media-breakpoint-down('md') {
      font-size: 16px;
    }
  }
}

.ajax-cart__body {
  position: relative;
  flex: 1;
  font-family: $headings-font-family;
  // Ajax cart loading shield
  &:before {
    content: '';
    @include stretch-within;
    z-index: 1;
    background: transparentize($ajax-cart-bg, 0.25);
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-duration-base $transition-timing-function-base;
  }

  .ajax-cart-container.lock-ui &:before {
    opacity: 1;
    pointer-events: auto;
    cursor: $cursor-disabled;
  }
}

.ajax-cart__footer {
  padding-top: 0;
}

.ajax-cart__close {
  color: $white;

  &:focus .icon,
  &:active .icon,
  &:hover  .icon{
    fill: white;
  }
  .icon-close {
    width: large-vw(28px, 50px);
    height: large-vw(28px, 50px);

    @include media-breakpoint-down('md') {
      width: 28px;
      height: 28px;
    }
  }
}

.ajax-cart__empty-message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $ajax-cart-padding-vertical*2 0;
  opacity: 0.5;
}

.ajax-cart__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ajax-cart__item {
  @include clearfix;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid $black;
  padding: 40px 0;
  margin: 0 40px;
  margin-bottom: 0;
  position: relative;
  @include media-breakpoint-down('md') {
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: $ajax-cart-padding-horizontal-mobile;
    padding-right: $ajax-cart-padding-horizontal-mobile;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  &.is-being-removed {
    opacity: 0;
    transition: opacity $transition-duration-base $transition-timing-function-in;
  }
}


.ajax-cart__item-image-wrapper {
  width: 160px;
  height: 160px;
  float: left;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: calc(1 / 1 * 100%);
  }
  @include media-breakpoint-down('md') {
    width: 100px;
    height: 100px;
  }
}

.ajax-cart__item-image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ajax-cart__item-info {
  padding-left: 200px; // Make room for the image floated left
  @include media-breakpoint-down('md') {
    padding-left: 100px + 15px; // Make room for the image floated left
  }
}

.ajax-cart__title-container {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  @include media-breakpoint-down('md') {
    padding-left: 0;
  }
}

.ajax-cart__item-title {
  margin-bottom: 6px;
  font-size: 22px;
  line-height: 24px;
  padding-left: 15px;
}

.ajax-cart__item-price {
  font-size: 20px;
  @include media-breakpoint-down('md') {
    margin-bottom: 22px;
  }
}

.ajax-cart__item-options {
  @include list-unstyled;
  font-size: 12px;
  line-height: 1.83;
}

.ajax-cart__item-qty {

}

.ajax-cart__item-remove {
  line-height: 20px;
}

.ajax-cart__footer {
  .additional-checkout-button {
    width: 100%;
  }
}

.ajax-cart__footer-row {
  padding-top: 35px;

  @include media-breakpoint-down('md') {
    padding-top: 15px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  & button {
    font-weight: $font-weight-semi-bold;
    font-family: $font-family-sans-serif;
  }
}

.ajax-cart-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-ajax-cart-backdrop;
  background-color: $ajax-cart-backdrop-color;
  opacity: 0;
  pointer-events: none;
  transition: all $transition-duration-slide $transition-timing-function-slide-out;

  &.is-visible {
    opacity: $ajax-cart-backdrop-opacity;
    pointer-events: auto;
    transition: all $transition-duration-slide $transition-timing-function-slide-in;
  }
}

.ajax-cart__footer-btn {
  position: relative;
  padding-right: 70px;
  text-align: right;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;

  .btn__ui {
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.3s ease-out;
  }
  &:hover {
    .btn__ui {
      transform: translateX(10px);
    }
  }
}


.ajax-cart__footer-row--btn {
  text-align: right;
}

