.bis__container {
  border: 0;
}

.bis__container {
  height: auto;
  width: 100%;
  transform: translateY(100%);
  left: 0;
  bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  @include media-breakpoint-up('lg') {
    height: 100%;
    transform: translateX(100%);
    left: unset;
    bottom: unset;
    top: 0;
    right: 0;
    border-radius: 0;
  }
}

.drawer__header.bis__header {
  padding: 30px;
  display: flex;
  margin-bottom: 0;
}

.bis__close {
  background: none;
  padding: 0;
  border: none;
  line-height: 1;
  line-height: 0;

  .icon-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.bis__title {
  font-family: $font-family-heading-large;
}

.bis__body {
  padding: 0 30px 30px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down('sm') {
    padding: 25px;
  }
}

.bis__featured-image-container {
  position: relative;
  margin: auto;
  width: 100%;
}

.bis__featured-image {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bis__body-info {
  margin-top: auto;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  font-size: 26px;
}

.bis__sticker {
  position: absolute;
  top: 0;
  left: 0;
}

.bis__form {
  margin: 30px 0;

  &.submitted {
    display: none;
  }
}

.bis__input {
  border-radius: 25px;
  border: 2.5px solid $black;
  padding: 11px 60px 11px 38px;
  font-size: 15px;

  &.has-error {
    border-color: $red;
  }
}

.bis__submit {
  width: 35px;
  left: calc(100% - 55px);
  color: $black;

  &:hover {
    width: 45px;
  }

  .icon-arrow {
    height: 20px;
    width: auto;
  }
}

.bis__highlighted-text {
  box-shadow: 0 -9px 0 inset $green;
}

.bis__response-message {
  display: none;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  text-align: center;
  font-size: 20px;
  padding: 45px;

  .submitted ~ & {
    display: block;
    margin: auto 0;
  }
}

.bis__footer-info {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  font-family: $font-family-sans-serif;
  font-weight: normal;
  margin-bottom: 0;

  a {
    font-weight: bold;
    text-decoration: underline;
    &:hover {
       color: $blue;
    }
  }
}

.bis__overlay {
  background-color: $black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: opacity $transition-duration-base $transition-timing-function-out;
  cursor: pointer;
  z-index: -1;

  .is-open & {
    opacity: 0.5;
    transform: opaity $transition-duration-base $transition-timing-function-in;
  }
}