.bundle-options {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.bundle-options__title {
  font-family: $font-family-heading-medium;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}

.bundle-option__ui {
  display: flex;
  justify-content: space-between;
  border: 1px solid $color-dots-border;
  background-color: $white;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  cursor: pointer;
}

.bundle-option__corner {
  display: flex;
  font-family: $font-family-heading-medium;
  font-size: 18px;
  line-height: 1;
  align-items: center;
}

.bundle-option__checkmark {
  display: block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid $color-dots-border;
  position: relative;
  margin-right: 20px;

  .icon-checkmark {
    width: 15px;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  input[type=radio]:checked ~ .bundle-option__ui & {
    background-color: $blue;
  }
}

.bundle-option__center {
  font-family: $font-family-heading-medium;
  font-size: 18px;
  line-height: 1;
}

.bundle-option__compare-price {
  text-decoration: line-through;
  margin-right: 5px;
  color: $core-grey-2;
}

.bundle-option__price {
  display: flex;
  font-size: 18px;
  line-height: 1;
  align-items: center;

  .bundle-option__discount-price {
    order: 2;
    ~ .bundle-option__full-price {
      text-decoration: line-through;
      order: 1;
      margin-right: 5px;
      color: $core-grey-2;
    }
  }
}

.bundle-items {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.bundle-items__title {
  font-size: 18px;
  font-family: $font-family-heading-medium;
  line-height: 1;
  margin-bottom: 15px;
}

.bundle-item__drawer {
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $color-dots-border;
  margin-bottom: 20px;
}

.bundle-item__drawer-head {
  padding: 16px;
  display: flex;
  align-items: center;
}

.bundle-item__image {
  width: 85px;
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-bottom: 100%;
    width: 100%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
  }
}

.bundle-item__product-data {
  margin-left: 20px;
}

.bundle-item__product-title {
  font-size: 16px;
  font-family: $font-family-heading-medium;
  line-height: 1.5;
}

.bundle-item__option {
  display: block;
  font-size: 12px;
  display: block;
  line-height: 1.5;
}

.bundle-item__variant-price {
  font-size: 13px;
  line-height: 1.5;
}

.bundle-item__compare-price {
  color: $core-grey-2;
}

.bundle-item__full-price {
  color: $blue;
}

.bundle-item__sold-out {
  font-size: 13px;
  color: $red;
  line-height: 1.5;
}

.bundle-item__edit-button {
  border: 1.5px solid $black;
  border-radius: 9999px;
  margin-left: auto;
  display: flex;
  height: 50px;
  padding: 0 30px;
  align-items: center;
  cursor: pointer;

  @include media-breakpoint-down('md') {
    height: 40px;
    padding: 0 15px;
  }


  .is-open & {
    border-color: $color-dots-border;
  }

  .icon {
    width: 12px;
    height: 12px;
    transform: rotate(0deg);
    transition: transform $transition-timing-function-in-out-ui $transition-duration-base;

    .is-open & {
      transform: rotate(180deg);
    }
  }
}

.bundle-item__edit-label {
  color: $blue;
  font-size: 13px;
  margin-right: 8px;

  .is-open & {
    display: none;
  }
}

.bundle-item__close-label {
  display: none;
  color: $black;
  font-size: 13px;
  margin-right: 8px;

  .is-open & {
    display: block;
  }
}

.bundle-item__drawer-body {
  border-top: 1px solid $core-grey-1;
  height: 0;
  transition: height $transition-timing-function-in-out-ui $transition-duration-base;
  overflow: hidden;
  padding: 0 15px;

  .product-option__swatch {
    width: calc( 100% + 30px);
    margin-left: -15px;
  }

  .product-option__drawer-btn {
    margin-bottom: 20px;
  }

  .product-option__header {
    display: none;
  }
}

.bundle-savings {
  color: $blue;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 27px;
  margin-top: 10px;
}