.card-slider {
  padding: 100px 50px;

  @include media-breakpoint-down('md') {
    padding: 60px 30px;

    &.product-carousel {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .card-slider__categories .swiper-slide {
    width: auto;
  }

  .swiper-slide {
    margin-right: 20px;
    width: calc(100%/4.3);

    @include media-breakpoint-down('md') {
      width: calc(100%/3.3);
    }

    @include media-breakpoint-down('sm') {
      width: calc(100%/2.3);
    }
    @include media-breakpoint-down('xs') {
      width: unset;
    }
  }

  .swiper-scrollbar.card-slider__scrollbar {
    position: relative;
    display: block;
    height: 6px;
    background-color: transparent;
    margin-top: 15px;
    width: calc(100% - 100px);
    left: 50px;
    opacity: 0;
    transition: opacity 150ms ease-in-out;

    @include media-breakpoint-down(md) {
      display: none;
    }

    .swiper-scrollbar-drag {
      background-color: rgb(195, 194, 193);
    }

  }

  &.card-slider--pdp {
    width: calc(100% + 60px);
    padding: 40px 30px 60px;
    margin-left: -30px;

    .swiper-slide {
      max-width: 100%;
    }

    .swiper-scrollbar.card-slider__scrollbar {
      width: calc(100% - 60px);
      left: 30px;
    }
  }

  .card-slider__slider:hover {
    .swiper-scrollbar.card-slider__scrollbar {
      opacity: 1;
    }
  }

  .shop-the-look,
  .shop-the-look--grid {
    .swiper-slide {
      max-width: unset;
    }
  }
}

.card-slider__heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;

  @include media-breakpoint-down('md') {
    margin-bottom: 25px;
  }

  &.card-slider__heading--stl {
    width: 100%;
    flex-direction: column;
    margin-bottom: 58px;
    @include media-breakpoint-down('md') {
      margin-bottom: 25px;
    }
  }
}

.card-slider__info-container {

  .product-carousel & {
    padding-right: 20px;
  }
  @include media-breakpoint-down('md') {
    padding-right: 20px;

    .product-carousel & {
      padding-right: 0;
    }
  }
}

.card-slider__categories {
  margin-top: 45px;

  @include media-breakpoint-down ('md') {
    margin-top: 20px;
    width: calc(100% + 60px);
    margin-left: -30px;
  }
}

.card-slider__category {
  border-radius: 999px;
  border: none;
  background-color: $black;
  font-size: 12px;
  padding: 15px 20px;
  color: white;
  font-family: $font-family-heading-medium;
  transition: all $transition-duration-base $transition-timing-function-in-out-ui;
  line-height: 1;

  @include media-breakpoint-down ('md') {
    padding: 9px 20px;
  }

  &.card-slider__category--active {
    background-color: $green;
    color: $black;
  }
}

.card-slider__title {
  margin-bottom: 13px;
  line-height: 1;

  .card-slider--pdp & {
    font-size: 28px;
    line-height: 1;
    max-width: 368px;
  }

  &.card-slider__title--stl {
    width: 100%;
    text-align: center;
    font-family: $font-family-secondary;
    font-size: 77px;
    margin-bottom: 0;

    @include media-breakpoint-down('md') {
      font-size: 30px;
    }
  }
  .product-carousel & {
    font-family: $font-family-secondary;
    font-size: 77px;

    @include media-breakpoint-down('md') {
      font-size: 30px;
    }
  }
}

.card-slider__copy {
  max-width: 600px;

  &.card-slider__copy--stl {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  .product-carousel & {
    max-width: map-get($grid-breakpoints, 'xl');
    font-family: $font-family-secondary;
    font-size: 30px;
    line-height: 1.233;

    @include media-breakpoint-down('md') {
      font-size: 18px;
      line-height: 1.056;
    }
  }
}

.card-slider__cta-container {
  align-self: center;
  justify-self: flex-end;
  margin-left: auto;
  position: relative;
  margin-top: -50px;
  flex-shrink: 0;

  @include media-breakpoint-down('sm') {
    margin-left: auto;
    margin-top: 0;
    align-self: flex-start;

    .product-carousel & {
      display: none;
    }
  }
}

.card-slider__button {
  font-size: 18px;
  line-height: 1.5;
  color: currentcolor;
  display: inline-block;

  &:hover {
    color: currentcolor;
  }

  @include media-breakpoint-down('md') {
    font-size: 12px;
    line-height: 1.5;
  }

  &.btn {
    padding: 12px 32px;
    width: fit-content;
    border-radius: 100px;
    font-family: $font-family-heading-medium;
    display: inline-block;
    font-size: 13px;
    white-space: nowrap;
    line-height: 1;
    transition: $transition-timing-function-in-out-ui $transition-duration-fast;
    transition-property: color, background-color;
    position: relative;
    z-index: 10;

    color: $white;
    background-color: $black;
    border: 2px solid $white;

    @include media-breakpoint-up('md') {
      padding: 14px 42px;
      font-size: 16px;
      line-height: 1;
    }

    @include media-breakpoint-up('lg') {
      padding: 15px 53px;
    }

    &:hover,
    &:focus {
      color: $black;
      background-color: $white;
    }
  }

  &.card-slider__button--mobile {
    margin-top: 50px;
    @include media-breakpoint-up('md') {
      display: none;
    }
  }
}

.card-slider__slider {
  width: calc(100% + 100px);
  margin-left: -50px;
  overflow: hidden;
  position: relative;
  @include media-breakpoint-down('md') {
    width: calc(100% + 60px);
    margin-left: -30px;
  }

  .card-slider--pdp & {
    width: calc(100% + 60px);
    margin-left: -30px;
  }

  .product-carousel & {
    @include media-breakpoint-down('md') {
      width: calc(100% + 50px);
      margin-left: -30px;
    }
  }
}

.card-slider__arrow {
  width: 5%;
  display: block;
  z-index: 2;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
}

.card-slider__arrow--next {
  right: 0;
  left: unset;
}

.card-slider__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;

  @include media-breakpoint-down('md') {
    grid-template-columns: 1fr 1fr !important;
  }

  @include media-breakpoint-down('xs') {
    grid-template-columns: 1fr !important;
  }
}

@import '../components/card/link-card';
