.collection-drawer {
  border: 0;
  height: 100%;
  overflow-x: none;
  overflow-y: auto;

  .drawer__header {
    color: $white;
    padding: large-vw(30px, 45px) large-vw(20px, 30px);
    border: none;
    margin-bottom: 0;
  }

  .drawer__header-title {
    text-transform: none;
    opacity: 1;
    transform: translateX(0);
    color: $white;
  }

  .drawer__close {
    margin-right: 30px;
    margin-top: 40px;
    color: white;
    .icon {
      width: 50px;
      height: 50px;
    }
  }

  .drawer__body {
    padding: large-vw(50px, 80px);
  }

  .product-card__gallery-image {
    padding-bottom: 100%;
  }
}
