.collection-banner {
  background-color: $bg-white;
  padding-top: large-vw(35px, 120px);

  @include media-breakpoint-down('md') {
    padding-top: 35px;
  }

  &.findify-collection-banner {
    &.no-video {
      padding-top: large-vw(20px, 100px);


      @include media-breakpoint-down('md') {
        padding-top: 20px;
        padding-bottom: 0;
      }
    }

    .collection-banner__content {
      margin-bottom: 0;
      border-bottom: 3px solid $black;
    }
  }

  &.no-video {
    padding-top: large-vw(65px, 150px);

    @include media-breakpoint-down('md') {
      padding-top: 65px;
      padding-bottom: 40px;
    }
  }

  .collection-banner-inner-wrapper {
    @include media-breakpoint-down('md') {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .collection-banner__title {
    margin-bottom: 26px;

    @include media-breakpoint-down('md') {
      margin-bottom: 18px;
    }
  }

  .collection-banner__title,
  .collection-banner__content {
    text-align: center;
    color: $black;
  }

  .collection-banner__content p {
    font-family: $font-family-base;
    font-size: 20px;
    font-weight: normal;

    @include media-breakpoint-up('lg') {
      font-size: 25px;
    }
  }

  .collection-banner__content strong {
    color: $cyan;
  }
}
