.contact {
    margin-top: large-vw(25px,80px);
    margin-bottom: large-vw(120px,205px);
    @include media-breakpoint-down('md') {
        margin-top: 25px;
        margin-bottom: 120px;
    }
}

.contact__banner-container img {
    width: 100%;
}

.contact__titles-container {
    margin-top: large-vw(30px,75px);
    margin-bottom: large-vw(30px,120px);
    @include media-breakpoint-down('md') {
        margin: 30px 0;
    }
    text-align: center;

    & .h5 {
        color: $blue;
        display: block;
    }
}

//FORM
.contact__form-container {
    padding-left: calc(100% / 24);
    @include media-breakpoint-down('md') {
        padding-left: 0;
    }
}

.contact__form-input-container {
    margin-bottom: 50px;
    & select {
        padding-bottom: 10px;
        border-radius: 0;
    }
}

/*.contact__form-input-container .dropdown .chosen-container {
    & .chosen-single, .chosen-drop {
        border: 0;
        color: black;
    }
}*/

.contact__form-message-container {
    @include media-breakpoint-up('lg') {
        margin-bottom: 0;
    }
}

.contact__form-label {
    display: block;
}

.contact__form-input {
    border: 0;
    border-bottom: 4px solid $black;
    border-radius: 0;
    background-color: $white;
    width: 100%;
    @extend .p2;

    & ::placeholder {
        @extend .p2;
    }

    &--message {
        border: 4px solid #121212;
        padding: 25px;
    }
}


.contact__form-submit-container-desktop {
    display: flex;
    justify-content: center;
    @include media-breakpoint-down('md') {
        display: none;
    }
}

.contact__form-submit-container-mobile {

    display: none;
    @include media-breakpoint-down('md') {
        display: flex;
        justify-content: center;
    }
}

.contact__form-submit {
    padding: 20px 80px;
    margin-top: 80px;
    @include media-breakpoint-down('md') {
        width: 100%;
        margin-top: 0;
    }
}

//ARROW SELECT
.dropdown {
    position: relative;
}

.dropdown:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 25%;
    border: solid #000;
    border-width: 0px 4px 4px 0;
    display: inline-block;
    padding: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

//LINK LIST
.contact__links-container {
    padding-right: calc(100% / 24);
    border-right: 8px solid $black;
    @include media-breakpoint-down('md') {
        order: 1;
        padding-right: 0;
        border-right: 0;
        border-top: 8px solid $black;
        margin-top: 60px;
        padding-top: 60px;
    }
}

.contact__link-item {
    margin-bottom: 35px;
}

.contact__link-label {
    text-transform: uppercase;
}

.contact__link-list {
    list-style: none;
    margin: 0;
    padding: 0;
    & li span {
        display: block;
        color: $blue;
        margin-bottom: 0;
    }
}
