.customer-drawer__title {
  margin-bottom: 30px;
}

.custom-control-label {
  font-size: 20px;
  line-height: 1.5;
}

.register-form__back-message {
  font-size: 20px;
  text-align: center;
}

.form-group__small-text {
  font-size: 20px;
  line-height: 1.5;
  a {
    line-height: 1;
  }
}