.features-detail__drawer {
  height: 100%;
}

.drawer__header.features-detail__header {
  position: relative;
  font-family: $font-family-heading-medium;
  margin-bottom: 0;
}

.features-detail__close {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;

  .icon {
    width: 20px;
    height: 20px;
  }
}

.features-detail__body {
  padding: 0 30px 30px;
}

.features-detail__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.features-detail__slider-pagination {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: unset;
  top: 0;
  margin-top: 103%;
  z-index: 1;

  .swiper-container-horizontal > & {
    z-index: 1;
  }

  .swiper-pagination-bullet {
    border-radius: 1.5px !important;
  }
}

.features-detail__body-content {
  margin: 70px 0;

  h1,h2, h3, h4, h5, h6 {
    font-family: 'Sequel Sans Medium Title', sans-serif;
    font-size: 32px;
    margin-bottom: 0.8rem;

    @include media-breakpoint-down('md') {
      font-size: 26px;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.6;
  }

  :last-child {
    margin-bottom: 0;
  }
}