.fit-guide__drawer {
  top: 50px;
  height: calc(100vh - 50px);
  overflow: auto;
  border: 0;
  width: 100%;
  z-index: 999999;
  @include media-breakpoint-down('md') {
    transform: translateY(100%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  @include media-breakpoint-up('lg') {
    top: 0;
    height: 100vh;
    transform: translateX(100%);
  }
}

.fit-guide__header-title {
  font-family: $font-family-heading-medium;
  color: $black;
}

.fit-guide__body {
  padding: 0 30px 30px;
}

.fit-guide__gallery-container {
  position: relative;
}

.fit-guide__gallery-image {
  width: 100%;
  display: block;
}

.fit-guide__gallery-pagination {
  position: relative;
}

.fit-guide__gallery-description-content {
  font-size: 15px;
  text-align: center;
  font-family: $font-family-base;
  font-weight: bold;
  line-height: 1.5;
  padding: 25px 0;
  margin-bottom: 30px;
  border-bottom: 3px solid $black;
}

.fit-guide__table {
  width: 100%;
  margin-bottom: 40px;

  @include media-breakpoint-down('md') {
    margin-bottom: 30px;
  }

  th {
    font-weight: bold;
    font-family: $font-family-heading-medium;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  tr {
    height: 44px;
  }

  td {
    text-align: center;
    font-size: 14px;
    font-family: $font-family-base;
    width: 33%;
  }

  &.fit-guide__table--with-name {
    td:first-child {
      font-weight: bold;
      font-family: $font-family-heading-medium;
      font-size: 18px;
      line-height: 1;
      width: 70px;
      text-align: left;
      padding-left: 23px;

      @include media-breakpoint-down('md') {
        width: 30px;
      }
    }
  }

  &.fit-guide__table--no-name {
    td:first-child {
      padding-left: 0;
      font-weight: normal;
      width: unset;
      text-align: center;
      font-size: 14px;
    }
  }
}
