.fit-guide__drawer {
  height: 100vh;
  overflow: auto;
  border: 0;
  max-width: 680px;
}

.fit-guide__header {
  background-color: $black;
  padding: 14px 30px !important;
  margin-bottom: 0 !important;
  border: 0 !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fit-guide__close {
  color: $white;

  &:hover {
    color: $white;
    .icon-close {
      fill: currentColor;
    }
  }
  .icon-close {
    width: large-vw(20px, 40px);
    height: large-vw(20px, 40px);

    @include media-breakpoint-down('md') {
      width: 20px;
      height: 20px;
    }
  }
}

.fit-guide__header-title {
  font-family: $headings-font-family;
  color: $white;
  font-size: large-vw(16px, 30px);
  font-weight: $headings-font-weight;
  opacity: 1;
  margin-left: 21px;

  @include media-breakpoint-down('md') {
    font-size: 16px;
  }
}

.fit-guide__body {
  padding: 40px;

  @include media-breakpoint-down('md') {
    padding: 20px;
  }
}

.fit-guide__gallery-container {
  position: relative;
}

.fit-guide__gallery-image {
  width: 100%;
  display: block;
}

.fit-guide__gallery-pagination-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 16px 14px;
}

.fit-guide__gallery-pagination {
  gap: 7px;
  display: flex;
  align-items: center;

  .swiper-pagination-bullet {
    background-color: rgba($black, 0.4);
    width: 9px;
    height: 9px;
  }

  .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background-color: $arrow-gray;
  }
}

.fit-guide__gallery-pagination-fraction {
  font-size: 12px;
  letter-spacing: 0;
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
}

.fit-guide__gallery-description-content {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  border-bottom: 2px solid $black;
  margin-bottom: 50px;
  padding: 45px 0 55px;

  @include media-breakpoint-down('md') {
    padding: 20px 0 25px;
    margin-bottom: 20px;
  }
}

.fit-guide__gallery-description-value {
  display: block;
  margin-bottom: 20px;

  @include media-breakpoint-down('md') {
    margin-bottom: 0;
  }
}

.fit-guide__subtitle {
  margin-bottom: 6px;
  font-size: 14px;
  text-transform: uppercase;
}

.fit-guide__title {
  color: $black;
  margin-bottom: 46px;
  font-size: 35px;

  @include media-breakpoint-down('sm') {
    font-size: 23px;
    margin-bottom: 30px;
    line-height: 1;
    letter-spacing: 1px;
  }
}

.fit-guide__table {
  width: 100%;
  margin-bottom: 40px;

  @include media-breakpoint-down('md') {
    margin-bottom: 30px;
  }

  th {
    font-weight: $font-weight-semi-bold;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.4px;
    height: 38px;
  }

  td {
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 25px;
    height: 38px;

    &:first-child {
      font-weight: $font-weight-semi-bold;
      font-size: 15px;
      line-height: 25px;
      width: 67px;
      text-align: left;
      padding-left: 10px;

      @include media-breakpoint-down('md') {
        width: 30px;
      }
    }
  }
}

.fit-guide__tips {
  background-color: $black;
  padding: 40px;

  @include media-breakpoint-down('md') {
    padding: 20px;
  }
}

.fit-guide__tips-title {
  color: $green;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 10px;

  &:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: $green;
    border-radius: 50%;
    margin-right: 12px;
    margin-bottom: -1px;
  }
}

.fit-guide__tips-content {
  ul, ol, p, span {
    color: $white;
    font-size: 13px;
    margin-bottom: 0;
  }

  ul, ol {
    padding-left: 0;
  }

  ul {
    list-style: none;
    li:before {
      content: "-";
      display: inline-block;
      margin-right: 5px;
    };
  }
}