#fit-guide {

  .modal-dialog {
    width: 75vw;
    max-width: unset;

    @include media-breakpoint-down('md') {
      width: 100%;
      margin: 0;
    }
  }

  .modal-content {
    background-color: transparent;
    border-radius: 0;
    border: 0;
  }

  .modal-header {
    background-color: transparent;
    border: 0;
    margin: 0 large-vw(0px, -160px) large-vw(0, 30px);

    @include media-breakpoint-down('md') {
      margin: 0;
      min-height: 50px;
      padding: 13px;
    }
  }

  .modal-title {
    display: none;

    @include media-breakpoint-down('md') {
      display: block;
      font-size: 16px;
      color: $white;
      opacity: 1;
    }
  }

  .close {
    color: $white;
    padding: 0;
    opacity: 1;

    &:focus {
      outline: none;
    }

    .icon-close {
      width: large-vw(30px, 80px);
      height: large-vw(30px, 80px);

      @include media-breakpoint-down('md') {
        width: 30px;
        height: 30px;
      }
    }

    @include media-breakpoint-down('md') {
      margin: -7px 0;
    }
  }

  .modal-body {
    background-color: $white;
    padding: large-vw(35px, 70px) 0;

    @include media-breakpoint-down('md') {
      padding: 35px 0;
    }
  }

  .swiper-button {
    width: large-vw(65px, 120px);
    height: large-vw(65px, 120px);
    border-radius: 50%;
    top: 50%;
    color: $white;
    transition: all $transition-duration-base $transition-timing-function-out;
    background-image: none;
    background-color: $black;

    @include media-breakpoint-down('md') {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &.swiper-button-prev {
      transform: translate(-50%, -50%);
    }

    &.swiper-button-next {
      transform: translate(50%, -50%);
      svg {
        transform: translateY(-50%) scaleX(-1);
      }
    }

    svg {
      width: 100%;
      height: large-vw(40px, 80px);
      top: 50%;
      position: absolute;
      transform: translateY(-50%);;
    }
  }

  .swiper-scrollbar {
    border-radius: 0;
    height: 4px;
    margin: 17px auto;
    width: percentage(10/12);
    max-width: 350px;

    .swiper-scrollbar-drag {
      background-color: $black;
      color: $white;
      border-radius: 0;
    }
  }
}

.fit-guide__eyebrow {
  display: block;
  font-weight: $font-weight-bold;
  text-align: center;
  color: $cyan;
  text-transform: uppercase;

  @include media-breakpoint-down('md') {
    display: none;
  }
}

.fit-guide__title {
  display: block;
  text-align: center;
  padding: 0 percentage(1/18);

  @include media-breakpoint-down('md') {
    padding: 0 percentage(1/12);
  }
}

.fit-guide__tabs-buttons {
  display: flex;
  justify-content: center;
}

.fit-guide__tab-button {
  text-align: center;
  border: large-vw(3px, 7px) solid $black inset;
  min-width: large-vw(50px, 100px);
  min-height: large-vw(50px, 100px);
  line-height: large-vw(44px, 86px);
  cursor: pointer;
  transition: $transition-duration-fast $transition-timing-function-out;
  transition-property: background, color;

  @include media-breakpoint-down('md') {
    border: 3px solid $black;
    min-width: 50px;
    min-height: 50px;
    line-height: 44px;
  }

  & + & {
    margin-left: large-vw(7px, 33px);

    @include media-breakpoint-down('md') {
      margin-left: 7px;
    }

  }

  &:hover {
    transition-timing-function: $transition-timing-function-in;
    background-color: $black;
    color: $white;
  }

  &.is-active {
    background-color: $black;
    color: $white;
  }
}

.fit-guide__model-info {
  margin-top: large-vw(32px, 70px);
  margin-bottom: large-vw(32px, 60px);
  text-align: center;
  @include media-breakpoint-down('md') {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.fit-guide__info-block {
  & + & {
    margin-top: large-vw(30px, 61px);

    @include media-breakpoint-down('md') {
      margin-top: 30px;
    }
  }
}

.fit-guide__data-title {
  text-align: center;
  font-size: large-vw(10px, 20px);
  margin-bottom: large-vw(10px, 25px);
  text-transform: uppercase;
  font-weight: $font-weight-bold;

  @include media-breakpoint-down('md') {
    margin-bottom: 10px;
    font-size: 10px;
  }
}

.fit-guide__data-group {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0 large-vw(50px, 160px);
  margin: auto;

  @include media-breakpoint-down('md') {
    padding: 0 50px;
    width: 100%;
    max-width: 600px;
  }
}

.fit-guide__model-item-value {
  @extend .h5;
  font-weight: $font-weight-bold;
  color: $cyan;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.fit-guide__model-item-descriptor {
  font-size: 20px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  margin-right: 5px;
}

.fit-guide__data-group--product {
  font-size: large-vw(10px, 20px);
  justify-content: center;

  @include media-breakpoint-down('md') {
    font-size: 10px;
    line-height: 20px;
    width: 100%;
    padding: 0;
  }
}

.fit-guide__product-item-descriptor {
  font-weight: bold;
  white-space: nowrap;
  margin-right: 5px;

  .fit-guide__product-item-value + &:before {
    content: "|";
    margin: 0 large-vw(10px, 15px);
    display: inline-block;

    @include media-breakpoint-down('md') {
      margin: 0 10px;
    }
  }
}

.fit-guide__gallery-slider {
  width: percentage(14/18);
  max-width: 871px;
  margin: auto;
  position: relative;

  @include media-breakpoint-down('md') {
    max-width: 100%;
  }

  .swiper-slide {
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: center;
    }
  }
}

.fit-guide__footer {
  text-align: center;
  margin-top: large-vw(40px ,47px);

  @include media-breakpoint-down('md') {
    margin-top: 40px;
  }

}

.fit-guide__footer-text {
  @extend .p2;
  margin-bottom: 0;
}


