.hero {
  width: 100%;
  min-height: 660px;
  position: relative;
  display: flex;
  padding: 60px;

  @include media-breakpoint-down('md') {
    padding: 30px;
    min-height: 600px;
  }
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.hero__inner {
  z-index:1;
}

.hero__title-image {
  max-width: 100%;
  width: auto;
  margin-bottom: 21px;
  @include media-breakpoint-down('md') {
    margin-bottom: 15px;
  }
}

.hero__video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__title {
  margin-bottom: 21px;
  margin-top: 0;

  @include media-breakpoint-down('md') {
    margin-bottom: 15px;
  }
}

.hero__text {
  @include media-breakpoint-up('lg') {
    font-size: 25px;
    line-height: 1.44;
  }
}

.hero__btn {
  font-size: 17px;
  padding:15px 58px;
}

.hero__highlight-text {
  font-weight: $font-weight-base;
}

.hero--vertical-top {
  align-items: flex-start;
}

.hero--vertical-center {
  align-items: center;

}

.hero--vertical-bottom {
    align-items: flex-end;
}

.hero--horizontal-left {
  justify-content: flex-start;
}

.hero--horizontal-center {
  justify-content: center;
  text-align: center;
}

