// -------------------------
// Pencil Banner
// -------------------------


.pencil-banner {
  position: relative;
  z-index: $zindex-pencil-banner;
  padding: $pencil-banner-padding-vertical 20px;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  text-align: center;
  color: $black;
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;

  p{
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px;
    white-space: nowrap;
  }

  &.pencil-banner--light {
    color: $white;
  }

  &__content-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    animation: marquee linear infinite;
    animation-play-state: running;
    animation-duration: var(--animation-duration-mobile);

    @include media-breakpoint-up('md') {
      animation-duration: var(--animation-duration-desktop);
    }

    &--reverse {
      animation-name: marquee-reverse;
    }

    &.marquee-paused {
      animation-play-state: paused;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    a {
      color: inherit;
      text-decoration: underline;
    }
    strong {
      font-weight: 800;
    }

    @include media-breakpoint-down('md') {
      font-size: 11px;
      letter-spacing: 0;
      line-height: 22px;
    }
  }

  &__content-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 35px;

    &:after {
      content: "\2022";
    }
  }
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

@keyframes marquee-reverse {
  0% { transform: translate(-100%, 0); }
  100% { transform: translate(0, 0); }
}
