// -------------------------
// Pencil Banner
// -------------------------


.pencil-banner {
  position: relative;
  z-index: $zindex-pencil-banner;
  padding: $pencil-banner-padding-vertical 20px;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  text-align: center;
  color: $black;
  font-size: 20px;

  p{
    margin-bottom: 0;
    font-size: 13px;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  &.pencil-banner--light {
    color: $white;
  }
}
