.product-overview {
  padding-top: large-vw(60px, 160px);
  padding-bottom: large-vw(60px, 110px);

  @include media-breakpoint-down('md') {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .overview-details__small-text {
    font-family: $font-family-sans-serif;
  }

  .overview-details__small-text,
  .overview-content__eyebrow {
    color: $cyan;
  }

  .overview-content__title,
  .overview-content__copy,
  .overview-details__content {
    color: $white;
  }

  .overview-content__eyebrow{
    margin-bottom: large-vw(25px, 50px);
    display: block;

    @include media-breakpoint-down('md') {
      margin-bottom: 25px;
    }
  }

  .overview-content__title {
    margin-bottom: large-vw(30px, 45px);
    font-weight: $font-weight-bold;

    @include media-breakpoint-down('md') {
      margin-bottom: 30px;
    }
  }

  .overview-content__copy {
    margin-bottom: large-vw(35px, 130px);

    @include media-breakpoint-down('md') {
      margin-bottom: 35px;
      line-height: 30px;
    }
  }

  .overview-details__image {
    .image-container {
      margin-bottom: large-vw(35px, 70px);

      @include media-breakpoint-down('md') {
        margin-bottom: 35px;
      }
    }

    .image-container.frame--4x3:before {
      padding-top:  57%;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    .overview-video {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

    .video-player.video-player--paused .video-player__cover-still,
    .video-player.video-player--paused .video-player__cover,
    .video-player .video-player__cover-still{
      opacity: 1;
    }

    .video-player.video-player--paused .video-player__cover{
      pointer-events: all;
    }

    .video-player__cover {
      @include media-breakpoint-up('lg') {
        cursor: none;
      }

      &:hover {
        .video-player__cover-play svg{
          width: 100%;
          height: 100%;
          opacity: 1;
          transition: height .4s ease-out, width .4s ease-out, opacity .150s ease-out;
        }

        .visual-play-button svg{
          width: 0;
          height: 0;
          opacity: 0;
          transition: height .4s ease-out, width .4s ease-out, opacity .150s ease-out;
        }
      }
    }

    .video-player__cover-play {
      display: block;
      width: large-vw(80px, 180px);
      height: large-vw(80px, 180px);
      position: absolute;
      bottom: 20px;
      left: 20px;
      padding: 0;

      @include media-breakpoint-down('md') {
        width: 80px;
        height: 80px;
      }

      svg {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: height .4s ease-in, width .4s ease-in, opacity .150s ease-in;
      }
    }

    .visual-play-button {
      display: block;
      width: large-vw(80px, 180px);
      height: large-vw(80px, 180px);
      position: absolute;
      bottom: 20px;
      left: 20px;
      top: initial;
      opacity: 1;
      padding: 0;
      transform: none;

      @include media-breakpoint-down('md') {
        width: 80px;
        height: 80px;
      }

      svg {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: height .4s ease-in, width .4s ease-in, opacity .150s ease-in;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .overview-details__content {
    @include media-breakpoint-down('md') {
      margin-bottom: 60px;
    }

    h1,h2,h3,h4,h5,h6{
      color: $cyan;

      @include media-breakpoint-down('md') {
        margin-bottom: 8px;
      }
    }

    p {
      line-height: large-vw(45px, 60px);
      margin-bottom: 0;

      @include media-breakpoint-down('md') {
        line-height: 45px;
      }
    }

    hr {
      margin: 40px 0;
      border-top: solid 4px $white;

      @include media-breakpoint-down('md') {
        margin: 25px 0 20px;
      }
    }
  }

  .overview-details__small-text {
    font-size: large-vw(12px, 20px);

    @include media-breakpoint-down('md') {
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.5px;
    }
  }
}
