.product-features {

  @include media-breakpoint-down('md') {
    margin-bottom: 55px;
  }

  .product-features-inner-container {
    margin-top: large-vw(70px, 150px);
    margin-bottom: large-vw(40px, 180px);

    @include media-breakpoint-down('md') {
      padding: 70px 0 60px;
    }
  }

  .features-title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .swiper-pagination {
    position: initial;
    width: auto;
    font-size: large-vw(12px, 30px);
    font-weight: $font-weight-bold;

    @include media-breakpoint-down('md') {
      font-size: 12px;
      margin-top: 10px;
    }
  }


  .feature-slide {
    display: flex;

    @include media-breakpoint-down('md') {
      flex-wrap: wrap;
    }
  }

  .feature-slide__block {
    width:50%;

    &:first-child {
      padding-right: percentage(1/24);

      @include media-breakpoint-down ('md'){
        padding-right: 0;
        order: 2;
        margin-top: 35px;
      }
    }

    @include media-breakpoint-down ('md'){
      width: 100%;
      order: 1;

      &:last-child {
        padding-bottom: 35px;
      }
    }
  }

  .features-slide__eyebrow {
    display: block;
    margin-bottom: large-vw(35px, 55px);
    color: $blue !important;

    @include media-breakpoint-down('md') {
      margin-bottom: 35px;
    }
  }

  .feature-slide__title {
    line-height: 1em;
    margin-bottom: 15px;

    @include media-breakpoint-down('md') {
      line-height: 35px;
      margin-bottom: 25px;
    }
  }

  .feature-slide__copy {
    padding-bottom: large-vw(40px, 90px);
    @include media-breakpoint-down('md') {
      line-height: 30px;
    }
  }

  .feature-slide__image {

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  .features__navigation-container {
    display: flex;
    width: 100%;
    max-width: large-vw(210px, 330px);
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;

    @include media-breakpoint-down('md') {
      max-width: 100%;
      bottom: 30px;
    }
  }

  .swiper-button {
    width: large-vw(40px, 90px);
    height: large-vw(40px, 90px);
    opacity: 1;
    position: relative;
    background-image: none;
    display: flex;
    align-items: center;
    margin-top: 0;
    // Arrows temporary fix
    display: inherit !important;
    top: auto !important;
    bottom: auto !important;

    @include media-breakpoint-down('md') {
      width: 40px;
      height: auto;
      left: 0;
    }

    &:focus {
      outline: none;
    }

    &.swiper-button-next {
      transform: scale(-1);

      @include media-breakpoint-down('md') {
        right: 0;
      }
    }

    svg {
      width: 100%;
      height: auto;
      color: $black;

      @include media-breakpoint-down('md') {
        height: 32px;
      }
    }
  }

  .swiper-container {
    width: 100%;
    @include media-breakpoint-down('md') {
      margin-bottom: 30px;
    }
  }

  .swiper-scrollbar{
    height: 4px;
    width: 100%;
    position: absolute;
    border-radius: 0;

    @include media-breakpoint-up('lg') {
      display: none;
    }

    .swiper-scrollbar-drag {
      border-radius: 0;
      background-color: $black;
    }
  }
}
