.showing-header {
  .product__sticky-bar.is-visible {
    @include media-breakpoint-up('lg') {
      transform: translateY(large-vw(50px, 80px));
      transition: all $transition-duration-dropdown $transition-timing-function-out;
    }
  }
}

.product__sticky-bar {
  position: fixed;
  width: 100%;
  padding: large-vw(10px, 18px) 40px;
  display: flex;
  align-items: center;
  background-color: $white;
  width: 100%;
  top: 0;
  z-index: 2200;
  transform: translateY(-100%);
  transition: transform $transition-duration-base $transition-timing-function-slide-out;

  @include media-breakpoint-down('md') {
    top: unset;
    bottom: 0;
    transform: translateY(100%);
    padding: 10px 25px;
  }

  &.is-visible {
    transition: transform $transition-duration-base $transition-timing-function-slide-in;
    transform: translateY(0);
  }
}

.sticky-bar__inner-navigation {
  font-size: large-vw(25px, 30px);
}

.sticky-bar__submenu a {
  font-weight: $font-weight-bold;
  padding-right: 40px;
  position: relative;
  display: inline-block;
  font-size: large-vw(16px, 25px);

  .icon {
    width: large-vw(16px, 30px);
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
  }
}

.sticky-bar__inner-navigation {
  font-weight: $font-weight-bold;
  display: flex;
  justify-content: center;

  a {
    padding: 0 13px;
    font-size: large-vw(16px, 25px);

    &.active {
      color: $blue;
    }

    &.is-active {
      color: $blue;
    }
  }
}

.sticky-bar__buy-button-container {
  align-self: flex-end;
  margin-left: auto;

  .btn {
    cursor: pointer;
    padding: large-vw(10px, 20px);
    font-size: large-vw(16px, 26px);
    @include media-breakpoint-down('md') {
      padding: 14px;
      font-size: 16px;
    }
  }
}


