// --------------------------------------------------------
// Product Detail
// --------------------------------------------------------

.product-detail {
  padding: 30px;
  background-color: $bg-white;
}

.product-option {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.product-option__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.product-option__header-label,
.product-option__selected-option {
  font-family: $font-family-heading-medium;
  @include media-breakpoint-down('sm') {
    font-size: 12px;
  }
}

// Product option type: swatches
.product-option__swatch {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto hidden;
  margin: 0 -30px;
  padding: 0 30px;
  gap: 8px;

  .product-option__single-selector {
    min-width: calc( 100% / 4.25);
  }

  .product-option__ui {
    width: 100%;
    background-color: $white;
    position: relative;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      top: 0;
      left: 0;
    }
  }

  .is-sold-out img,
  .is-bis  img{
    opacity: 0.4 !important;
  }

  .product-option__bis-message {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    line-height: 1.2;
    font-size: 17px;

    @include media-breakpoint-down('sm') {
      font-size: 12px;
    }
  }

  input[type="radio"]:checked ~ .product-option__ui,
  input[type="checkbox"]:checked ~  .product-option__ui{
    border: 2px solid $black;
  }
}

.product-option__selected-option {
  font-family: $font-family-heading-medium;
}
// Product option type: drawer
.product-option__drawer-btn {
  border-color: $color-dots-border;

  &:hover,
  &:focus {
    border-color: $color-dots-border;
  }
  .btn__ui {
    display: inline-block;
    margin-left: 15px;
    @include media-breakpoint-down('md') {
      margin-left: 10px;
    }

    .icon {
      width: 20px;
      height: auto;

      @include media-breakpoint-down('md') {
        width: 15px;
      }
    }
  }
}

.product-option__drawer {
  overflow-x: hidden;
  width: calc(10/24*100%);
  right: 0;
  height: 100%;
  transform: translateX(100%);

  @include media-breakpoint-down('md') {
    width: 100%;
    height: auto;
    top: auto;
    bottom: 0;
    transform: translateY(100%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    .is-visible & {
      transform: translateY(0);
    }
  }

  .drawer__close .icon {
    width: 20px;
  }

  .drawer__body-contents {
    padding: 0 30px 30px;
  }

  .product-option__single-selector {
    width: 100%;
    font-family: $headings-font-family;
  }

  .product-option__ui {
    width: 100%;
    border-radius: 10px;
    border: 1.5px solid transparent;
    background-color: $bg-white;
    display: flex;
    padding: 30px 20px;
    align-items: center;
    cursor: pointer;
  }

  .product-option__ui-group-corner {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:last-of-type {
      justify-content: flex-end;
    }

    @include media-breakpoint-down('sm') {
      width: 35%;
    }
  }

  .product-option__ui-group-middle {
    width: 20%;

    @include media-breakpoint-down('sm') {
      width: 30%;
    }
  }

  .product-option__ui-checkmark {
    border-radius: 50%;
    background-color: $white;
    border: 1px solid $color-dots-border;
    width: 30px;
    height: 30px;
    position: relative;

    .icon-checkmark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 150ms $transition-timing-function-in-out-ui;
      width: 15px;

    }
  }

  input[type="radio"]:checked ~ .product-option__ui {
    border: 1.4px solid $black;

    .product-option__ui-checkmark {
      background-color: $blue;

      .icon-checkmark {
        transform: translate(-50%, -50%) scale(1);
        color: $white;
      }
    }
  }

  input[type="radio"]:disabled ~ .product-option__ui {
    background-color: transparent;
    border: 1px dashed $color-dots-border;

    .product-option__ui-checkmark {
      opacity: 0;
    }

    .product-option__ui-availability {
      color: $core-grey-2;
    }

    .product-option__ui-low-quantity {
      display: none;
    }
  }

  .product-option__ui-label {
    font-size: 14px;
    margin-left: 20px
  }

  .product-option__ui-availability {
    font-size: 16px;
    margin: auto;
    text-align: center;
  }

  .product-option__ui-quantity {
    font-size: 10px;
    margin-left: auto;
  }
}

// Product option type: select
.product-option__select  {
  position: relative;

  .icon-caret {
    position: absolute;
    right: 10px;
    top: 50%;
    transition: transform 300ms ease-in-out;
    transform: translateY(-50%);

  }

  .chosen-with-drop ~ .icon-caret {
    transform: translateY(-50%) rotate(180deg);
  }
}

.product__size-guide-button {
  font-family: $font-family-heading-medium;
  margin-top: -20px;

  @include media-breakpoint-down('sm') {
    font-size: 12px;
  }
}

.product__atc-price:before {
  content: '- ';
}

.klarna-messaging {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

// Slideshow / Zoom
// --------------------------------------------------------
.sticky-image ~ .product-detail {
  @include media-breakpoint-down('md') {
    .product-gallery {
      margin-top: -50%;
    }
  }
}

.product-gallery__slide {
  position: relative;
  display: none;

  &.swiper-slide {
    display: block;
  }
  &:before {
    content: "";
    padding-bottom: 100%;
    width: 100%;
    display: block;
    position: relative;
  }
}

.product-gallery__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper-pagination.product-gallery__pagination {
  position: relative;
  bottom: 0;
}