// --------------------------------------------------------
// Product Detail
// --------------------------------------------------------

.product__form {
  margin-top: large-vw(40px, 82px);

  @include media-breakpoint-down('md') {
    margin: 20px 0 35px;
    padding: 0 33px;
  }

  .selector-wrapper {
    margin-top: 30px;
  }

  .dots {
    display: flex;
    flex-wrap: wrap;
  }
}

.product__badge-row {
  .badge {
    background-color: $black;
    color: $yellow;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: large-vw(10px, 20px);

    @include media-breakpoint-down('md') {
      font-size: 10px;
      padding: 3px 5px;
    }
  }
}

.product__title {
  margin-bottom: 0;
  text-transform: none;

  .product__badge-row + & {
    margin-top: 11px;
  }
}

.product__price {
  margin-top: large-vw(25px, 30px);
  font-weight: bold;
  margin-bottom: 5px;

  @include media-breakpoint-down('md') {
    font-size: 25px;
    margin-top: 30px;
  }
}

.klarna-messaging {
  margin-bottom: 32px;
}

.product__compare-at-price {
  text-decoration: none;
  position: relative;
  margin-right: 10px;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: large-vw(3px, 6px) solid $red;
    top: 50%;
    transform: translateY(-50%);

    @include media-breakpoint-down('md') {
      border-bottom-width: 3px;
    }
  }

  &:not(.hide) ~ span {
    color: $red;
  }
}

.product__selector-header {
  font-size: large-vw(15px, 20px);
  font-weight: $font-weight-semi-bold;
  @include media-breakpoint-down('md'){
    font-size: 16px;
  }
}

.product__selector-option {
  padding: 0;
}

.product__fit-guide-toggler {
  font-size: large-vw(20px, 30px);
  padding: 5px 0;

  &:focus {
    outline: none;
  }
  @include media-breakpoint-down('md') {
    font-size: 20px;
    margin-top: 10px;
  }
}

.product__shipping-toggler {
  font-size: large-vw(12px,18px);
  margin-top: 25px;
  width: 100%;

  @include media-breakpoint-down('md') {
    font-size: 13px;
    margin-top: 30px;
  }
}

.mobile-add-to-cart {
  bottom: 0;
  top: auto;

  .drawer__header {
    border-bottom: 0;
    margin-bottom: -50px;

    .drawer__close {
      top: 20px;
      right: 20px;
    }

    .icon-close {
      height: 30px;
      width: 30px;
    }
  }

  .badge {
    padding: 5px 10px;
  }
}

// Slideshow / Zoom
// --------------------------------------------------------

.product-galleries {
  position: relative;
  overflow: hidden;
}

// Make these go flush on mobile
.product-gallery {
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);

  @include media-breakpoint-up('md') {
    margin-left: 0;
    margin-right: 0;
  }
}

.product-gallery__counter {
  position: absolute;
  display: none;
  font-weight: bold;

  @include media-breakpoint-down('md') {
    display: block;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
}

.product-gallery__slideshow {
  margin: 0 auto;
  max-width: 500px;

  @include media-breakpoint-down('md') {
    padding-bottom: 27px;
  }

  @include media-breakpoint-up('sm') { max-width: none; }

  html.js & {
    opacity: 0;

    &.swiper-container-initialized {
      opacity: 1;
      transition: opacity 300ms ease-out;
    }
  }

  .swiper-slide {
    display: block;
    padding-bottom: percentage(1038/1041);
    cursor: none;

    @include media-breakpoint-down('md') {
      pointer-events: none !important;
    }

    &:focus { outline: 0; }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:focus { outline: 0; }
    }
  }

  .swiper-scrollbar {
    display: none;

    @include media-breakpoint-down('md') {
      display: block;
      width: calc(100% - 60px);
      left: 50%;
      transform: translatex(-50%);
      border-radius: 0;
    }
  }

  .swiper-scrollbar-drag {
    border-radius: 0;
    background: $black;
  }
}

.gallery__zoom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  pointer-events: none;
  opacity: 0;

  .product-gallery__slideshow:hover ~ & {
    opacity: 1;
  }

  @include media-breakpoint-down('md') {
    display: none;
  }
}

.product-gallery__thumbnails {
  height: 100%;
  margin: 80px 50px 120px;

  @include media-breakpoint-down('md') {
    opacity: 0;
    position: absolute;
    right: -100%;
    display: none;
  }
}

.product-gallery__thumbnail-counter {
  position: absolute;
  width: 100%;
  bottom: 70px;
  font-size: large-vw(12px, 30px);
  text-align: center;
  font-weight: $font-weight-bold;
}

.product-gallery__thumbnails-slide {
  display: inline-block;
  text-align: center;


  img {
    width: auto;
    height: 100%;
  }

  &.swiper-slide-thumb-active img{
    border: 3px solid $black;
  }
}

.zoom-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999999;
  transition: opacity $transition-duration-base $transition-timing-function-in-out-ui;
  cursor: none;

  &.is-zoomed {
    opacity: 1;
    background-color: $white;
    pointer-events: all;
  }

  .icon-zoom-out {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    width: 20px;
    height: 20px;
    pointer-events: none;
    opacity: 0;
  }

  &:hover .icon-zoom-out {
    opacity: 1;
  }

  @include media-breakpoint-down('md') {
    display: none;
  }
}

.icon-zoom-in-full-color,
.icon-zoom-out-full-color {
  width: large-vw(50px, 90px);
  height: large-vw(50px, 90px);
}
