@keyframes text-scroll {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.scrolling-text {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  padding-top: large-vw(65px, 300px);
  padding-bottom: large-vw(85px, 300px);
  height: large-vw(50px, 150px);

  @include media-breakpoint-down('md') {
    height: 50px;
  }

  @include media-breakpoint-down('md') {
    padding-top: 65px;
    padding-bottom: 85px;
  }

  .text {
    margin: 0 auto;
    text-align: center;
    position: relative;
    min-width: 100%;
    display: inline-block;
    animation: text-scroll linear infinite;
    font-weight: $font-weight-normal;
  }
}
