.search-drawer {
  position: absolute;
  top: 100%;
  width: 100%;
  transform: translateY(-100%);
  background-color: $white;
  transition: transform $transition-duration-base $transition-timing-function-in-out-ui;

  &.is-visible {
    transform: translateY(0);
  }
}

.search-icon.search-drawer__search-icon {
  left: 40px;
  line-height: 0;

  @include media-breakpoint-down('md') {
    left: 20px;
  }

  svg.icon-search {
    width: 35px;
    height: auto;

    @include media-breakpoint-down('md') {
      width: 20px;
    }
  }
}

.search-drawer__close {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  line-height: 0;
  cursor: pointer;
  z-index: 2;

  .icon-close {
    width: 30px;
    height: auto;

    @include media-breakpoint-down('md') {
      width: 20px;
    }
  }
}

.findify-mobile-close-button {
  display: none !important;
}

.minimal-input-box__input--search {
  font-size: 25px;
  margin-bottom: 0;
  height: 70px;
  padding-left: 90px;

  @include media-breakpoint-down('md') {
    padding-left: 50px;
    font-size: 20px;
    height: 50px;
  }
}
