.shop-the-look {
  width: calc(100% + 60px);
  background-color: $white;
  margin-left: -30px;
  padding: 35px 30px;

  &:not([id=shop-the-look-pdp]) {
    width: calc(100% + 100px);
    margin-left: -50px;
    padding: 0;

    @include media-breakpoint-down('md') {
      width: calc(100% + 60px);
      margin-left: -30px;
    }
  }
}

.shop-the-look__looks-container {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  position: relative;


  .shop-the-look:not([id=shop-the-look-pdp]) & {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.shop-the-look__slider {
  display: flex;
  flex-wrap: nowrap;
}

.shop-the-look__slide {
  width: 90%;
}

.shop-the-look__arrow {
  display: block;
  width: 80px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;

  @include media-breakpoint-up('xl') {
    width: 120px;
  }
}

.shop-the-look__arrow--next {
  left: unset;
  right: 0;
}

@import "../components/card/look-card.scss";
@import "../components/look-drawer.scss";
@import "../components/card/look-drawer-card.scss";
