.section-text-signature {
  padding-top: large-vw(65px, 140px);
  padding-bottom: large-vw(85px, 160px);

  @include media-breakpoint-down('md') {
    padding-top: 65px;
    padding-bottom: 85px;
  }

  .row {
    @include media-breakpoint-down('md') {
      justify-content: center;
    }
  }

  .text-container {
    color: $white;
    line-height: large-vw(45px, 125px);
    font-weight: $font-weight-normal;
    
    @include media-breakpoint-down('md') {
      line-height: 45px;
      font-size: 40px;
      letter-spacing: 1.5px;
    }

    &,
    p {
      margin: 0;
    }

    strong {
      color: $yellow;
    }
  }

  .signature-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: large-vw(30px, 75px);
    
    @include media-breakpoint-down('md') {
      margin-top: 30px;
    }
  }

  .signature-block {
    max-width: 28%;
    width: 100%;
  }

  .signature-block__image {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .signature-block__text {
    font-size: 20px;
    color: $white;
    font-weight: $font-weight-bold;
    text-align: center;
    margin: 0;
  }
}
