{% section 'findify-collection-banner' %}

<div class="collection-template-container container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-22 col-md-20 col-lg-22 col-xl-22" data-collection-template id="collection">

    </div>
  </div>
</div>

