{%- comment %}

  Article Card
  ------------------------------------------------------------------------------

  Usage:

  {% include 'article-card',
              article: { article },
  %}

{% endcomment -%}
{% if article != blank %}
  <div class="article-card">
    {% if article.image %}
      <a href="{{ article.url }}" class="article-card__image-container">
        {% render 'image_tag'
          image: article.image,
          class: 'article-card__image'
          alt: article.image.alt
        %}
      </a>
    {% endif %}
    <a href="{{ article.url }}" class="article-card__info">
      <h3 class="article-card__info-title">{{ article.title | truncate: 60}}</h3>

      <div class="article-card__footer">

        <div class="article-card__date">
          {{ article.published_at | time_tag: format: 'date' }}
        </div>
        <div class="article-card__arrow">
          {% if article.metafields.custom_fields.is_video_post == true %}
            {% render 'icon-play-bw-full-color' %}
          {% else %}
            {% render 'icon-arrow' %}
          {% endif %}
        </div>
      </div>
    </a>
  </div>
{% endif %}
