{%- comment %}

  Customer Recover Password Form
  ------------------------------------------------------------------------------

  Usage:

  {% include 'customer-recover-password-form' %}

{% endcomment -%}

{% form 'recover_customer_password' %}
  <input type="hidden" name="return_to" id="redirect_url" value="" />

  {% if form.posted_successfully? %}
    <span class="hide reset-password-success"></span>
  {% endif %}

  <div class="form-group">
    <input type="email"
      name="email"
      id="RecoverEmail"
      class="form-control account-form__field"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off"
      placeholder="{{ 'customer.recover_password.email' | t }}"
      >
  </div>

  {{ form.errors | default_errors | replace: '<li>', '<li class="p4">'}}

  <div class="mb-0 form-group form-group__button text-center">
    <div class="mb-2">
      <input type="submit" class="btn btn-primary" value="{{ 'customer.recover_password.submit' | t }}">
    </div>
  </div>

  <div class="form-group text-center mb-0">
    <button type="button" class="btn btn-link" data-hide-recover-password-form>
      <small>
        {{ 'customer.recover_password.cancel' | t }}
      </small>
    </button>
  </div>
{% endform %}
