{%- comment %}

  Customer Recover Password Form
  ------------------------------------------------------------------------------

  Usage:

  {% include 'customer-recover-password-form' %}

{% endcomment -%}

{% form 'recover_customer_password' %}
  <input type="hidden" name="return_to" id="redirect_url" value="" />
  {% if form.errors %}
    {% for field in form.errors %}
        {% unless form.errors.messages[field] contains 'login' %}
          {{ form.errors | default_errors }}
        {% endunless %}
    {% endfor %}
  {% endif %}

  {% if form.posted_successfully? %}
    <span class="hide reset-password-success"></span>
  {% endif %}

  <div class="form-group">
    <input type="email"
      name="email"
      id="RecoverEmail"
      class="form-control account-form__field"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off"
      placeholder="{{ 'customer.recover_password.email' | t }}"
      >
  </div>

  <div class="form-group form-group__button text-center">
    <input type="submit" class="btn btn-primary" value="{{ 'customer.recover_password.submit' | t }}">
    <a type="button" class="form-button__inline h6" data-hide-recover-password-form>
      {{ 'customer.recover_password.cancel' | t }}
    </a>
  </div>
{% endform %}