{% assign image = s.image %}
{% assign caption = s.caption %}

{% if look_enabled %}
  <div class="image-caption__img-container">
{% endif %}
{%- if  image != blank -%}
  {% render 'responsive-image'
    image: image,
    alt: image.alt,
    loading: "lazy",
    class: "image-caption__image",
    image_sizes: "100vw"
    width: image.width,
  %}
{%- endif -%}
{% if look_enabled %}
  <div class="image-caption__shop-btn">
    {% render 'icon-bag-2-full-color' %}
  </div>
</div>
{% endif %}

{% if caption != blank %}
  <p class="image-caption__text">{{ caption }}</p>
{% endif %}
