{% assign image = s.image %}
{% assign caption = s.caption %}

{%- if  image != blank -%}
  {% render 'responsive-image'
    image: image,
    alt: image.alt,
    loading: "lazy",
    class: "image-caption__image",
    image_sizes: "100vw"
  %}
{%- endif -%}
{% if caption != blank %}
  <p class="image-caption__text">{{ caption }}</p>
{% endif %}
