{% comment %}Overview module{% endcomment %}
{% assign overview_details = product.metafields.custom_fields["overview_details"] %}
{% assign overview_image = product.metafields.custom_fields["overview_image"] %}


{% comment %}Product Features{% endcomment %}
{% assign product_features = product.metafields.custom_fields["features_section"] %}

{% comment %}If the user came from a collection page, pull the collection custom fields{% endcomment %}
{% if collection != blank %}

  {% assign parent_collection = collections[collection.metafields.custom_fields["nav_collection"]] %}

  {% if collection.metafields.custom_fields["nav_collection_title"] == blank %}
    {% assign collection_title = parent_collection.title %}
  {% else %}
    {% assign collection_title = collection.metafields.custom_fields["nav_collection_title"] %}
  {% endif %}

  {% assign collection_display_color = collection.metafields.custom_fields['nav_collection_display_color'] %}

{% else %}

  {% assign parent_collection = collections[product.metafields.custom_fields["default_collection"]] %}

  {% if product.metafields.custom_fields["collection_title"] == blank %}
    {% assign collection_title = product.metafields.custom_fields["collection_title"] %}
  {% else %}
    {% assign collection_title = parent_collection.title %}
  {% endif %}

  {% assign collection_display_color = product.metafields.custom_fields['default_collection_color'] %}

{% endif %}

<div class="product__sticky-bar" data-product-sticky-bar>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-sm-7 d-none d-lg-block d-xl-block">
        {% if parent_collection != blank %}
          <div class="sticky-bar__submenu">
            <a href="#" data-toggle-collection-grid>
              {{ collection_title }}
              {% include 'icon-caret-down' %}
            </a>
          </div>
        {% endif %}
      </div>
      <div class="col-sm-10 d-none d-lg-block d-xl-block">
        <div class="sticky-bar__inner-navigation">
          {% if overview_details != blank and overview_image != blank %}
          <a href="#product-overview" id="product_overview" data-scroll-to-section="overview">
            Overview
          </a>
          {% endif %}
          {% if product_features != blank %}
          <a href="#product-features" data-scroll-to-section="feature">
            Features
          </a>
          {% endif %}
          {% if settings.display_reviews == true and product.type != 'Gift Card' %}
          <a href="#product-reviews" data-scroll-to-section="reviews">
            Reviews
          </a>
          {% endif %}
        </div>
      </div>

      <div class="col-xs-22 offset-xs-1 offset-lg-3 col-lg-4">
        <div class="sticky-bar__buy-button-container">
          <div class="btn btn-sm btn-primary btn-block" data-desktop-buy-now>
            Buy -
            <span data-variant-price> {{ product.selected_or_first_available_variant.price | money }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if parent_collection != blank %}
  <div class="drawer drawer--left bg-black collection-drawer" data-collection-drawer>
    <div class="drawer__inner">
      <div class="drawer__header">
        <a href="#" class="drawer__close" data-drawer-close>
          {% include 'icon-close' %}
          <span class="sr-only">Close</span>
        </a>
        <span class="drawer__header-title h5">{{ collection_title }}</span>
      </div>
      <div class="drawer__body">
        <div class="drawer__body-contents">
          <div class="content-grid">
            {% for rel_product in parent_collection.products %}
              {% unless rel_product.title == product.title %}
                {% assign rel_variant = rel_product.variants.first %}
                {% if collection_display_color != blank %}
                  {% for variant in rel_product.variants %}
                    {% assign variant_title_downcase = variant.title | downcase %}
                    {% assign display_color_downcase = collection_display_color | downcase %}
                    {% if variant_title_downcase contains display_color_downcase %}
                      <div class="content-grid__item">
                        {% include 'product-card',
                          card_product: rel_product,
                          variant: variant,
                          show_tag: true,
                          show_sizes: false,
                          reverse_card: true,
                          show_colors: true,
                          render_json: false,
                          lazy_load_img: false,
                          color: blank %}
                        </div>
                      {% break %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <div class="content-grid__item">
                    {% include 'product-card',
                      card_product: rel_product,
                      variant: rel_variant,
                      show_tag: true,
                      show_sizes: false,
                      reverse_card: true,
                      show_colors: true,
                      render_json: false,
                      lazy_load_img: false,
                      color: blank %}
                  </div>
                {% endif %}
              {% endunless %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="drawer drawer--bottom mobile-add-to-cart" data-add-to-cart-drawer>
  <div class="drawer_inner">
    <div class="drawer__header">
      <a href="#" class="drawer__close" data-drawer-close>
        {% include 'icon-close' %}
        <span class="sr-only">Close</span>
      </a>
    </div>
    <div class="drawer__body" data-mobile-product-form-container>

    </div>
  </div>
</div>
