{%- comment %}

  Product Detail Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail',
              product: { product } - required
              current_variant: { variant} - optional
  %}

{% endcomment -%}

{% comment %} Defaults {% endcomment %}
{% if current_variant == blank %}
  {% assign current_variant = product.selected_or_first_available_variant %}
{% endif %}

{% if template.name == 'product' and template.suffix == 'quick-view' %}
  {% assign is_quick_view = true %}
{% endif %}

{%- capture shipping_modal_html -%}
  {% include 'shipping-modal' %}
{%- endcapture -%}

{% comment %} End Defaults {% endcomment %}

{% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
    <style>
      [data-product-detail] {
        background-color: #ffffff;
      }
    </style>
  {% endif %}


<div data-product-detail data-animated-background="#ffffff">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-xs-24 col-lg-16 col-xl-17">
        {% include 'product-detail-galleries',
                    product: product,
                    current_variant: current_variant
        %}
      </div>
      <div class="col-xs-22 offset-xs-1 col-lg-6 offset-lg-1 col-xl-5 offset-xl-1" data-product-form-container>
        {% include 'product-detail-form',
                    product: product,
                    current_variant: current_variant,
                    enable_bundles: enable_bundles,
        %}
      </div>
    </div>
  </div>
</div>

{% if product.metafields.custom_fields["show_fit_guide"] == 1 or product.metafields.custom_fields["test_fit_guide"] == 1 %}
{% include 'fit-guide-drawer' %}
{% endif %}

{% unless is_quick_view or shipping_modal_html == blank %}
  {{ shipping_modal_html }}
{% endunless %}


