{% assign image_loading_placeholder = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% for option in product.options %}
  {% if option == "color" or option == "Color" %}
    {% assign option_index = "option" | append: forloop.index %}
  {% endif %}
{% endfor %}
{% comment %} Defaults {% endcomment %}
{% if option_index != blank %}
  {% assign has_color_index = true %}
{% endif %}

<div class="product-gallery">
  <div class="product-gallery swiper-container" data-product-gallery-slideshow>
    <div class="product-gallery__wrapper swiper-wrapper">
      {% for image in product.images %}
      {% assign image_alt_pieces = image.alt | split: '|' %}
      {% assign img_color_downcase = image_alt_pieces[1] | downcase %}
      {% assign variant_color_downcase = current_variant[option_index] | downcase %}
        {% if has_color_index %}
          <div class="product-gallery__slide {% if img_color_downcase == variant_color_downcase %}swiper-slide{% endif %}" data-slide data-color-identifier="{{image_alt_pieces[1]}}" data-image-url="{{image | image_url }}">
        {% else %}
          <div class="product-gallery__slide swiper-slide" data-slide>
        {% endif %}
          <div class="swiper-zoom-container">
            <img data-src="{{ image | image_url }}" alt="{{image.alt}}" class="swiper-lazy product-gallery__image">
            <span class="swiper-lazy-preloader"></span>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination product-gallery__pagination"></div>
  </div>

  <div class="product-gallery__zoom-container" data-zoom-container>

  </div>
</div>