{% assign image_loading_placeholder = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% for option in product.options %}
  {% if option == "color" or option == "Color" or option == "colour" or option == "Colour" %}
    {% assign option_index = "option" | append: forloop.index %}
  {% endif %}
{% endfor %}
{% comment %} Defaults {% endcomment %}
{% if option_index != blank %}
  {% assign has_color_index = true %}
{% endif %}

<div class="product-gallery">
  <div class="swiper" data-product-gallery-slideshow>
    <div class="product-gallery__wrapper swiper-wrapper">
      {% assign rendered_images = 0 %}
      {% assign current_color = "" %}
      {% assign color_variant = "" %}
      {% for media in product.media %}
        {% render 'gallery-media-item',
          media: media,
          product: product,
          option_index: option_index,
          current_variant: current_variant,
          has_color_index: has_color_index,
        %}
      {% endfor %}

      {% for merge_product in product.metafields.custom_fields.merge_product.value %}
        {% assign current_color = "" %}
        {% assign color_variant = "" %}
        {% for media in merge_product.media %}
          {% render 'gallery-media-item',
            media: media,
            product: product,
            option_index: option_index,
            current_variant: current_variant,
            has_color_index: has_color_index,
          %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="swiper-pagination product-gallery__pagination"></div>
  </div>
  <div class="product-gallery__arrows-container">
    <div class="product-gallery__arrow" data-arrow-prev aria-label="Scroll to prev slide">
      {% render 'icon-caret' %}
    </div>
    <div class="product-gallery__arrow" data-arrow-next aria-label="Scroll to next slide">
      {% render 'icon-caret' %}
    </div>
  </div>

  <div class="product-gallery__zoom-container" data-zoom-container>

  </div>
</div>