{%- comment %}

  Product Detail Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail',
              product: { product } - required
              current_variant: { variant} - optional
  %}

{% endcomment -%}

{% comment %} Defaults {% endcomment %}
{% if current_variant == blank %}
  {% assign current_variant = product.selected_or_first_available_variant %}
{% endif %}
{% comment %} End Defaults {% endcomment %}

{% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
    <style>
      [data-product-detail] {
        background-color: #ffffff;
      }
    </style>
  {% endif %}


<div data-product-detail data-animated-background="#ffffff">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-xs-24 col-lg-16 col-xl-17">
        {% include 'product-detail-galleries',
                    product: product,
                    current_variant: current_variant
        %}
      </div>
      <div class="col-xs-22 offset-xs-1 col-lg-6 offset-lg-1 col-xl-5 offset-xl-1" data-product-form-container>
        {% include 'product-detail-form',
                    product: product,
                    current_variant: current_variant
        %}
      </div>
    </div>
  </div>
</div>

{% if product.metafields.custom_fields["show_fit_guide"] == 1 and product.metafields.custom_fields['fit_guide_reference'] != blank %}
  {% include 'fit-guide-modal' %}
{% endif %}
