{% if product.metafields.custom_fields["features_section"] != blank %}
  {% assign separator = "|###|" %}
  {% assign feature_eyebrow_array = product.metafields.custom_fields["feature_eyebrow"] | split: separator %}
  {% assign feature_title_array = product.metafields.custom_fields["feature_title"] | split: separator %}
  {% assign feature_copy_array = product.metafields.custom_fields["feature_copy"] | split: separator %}
  {% assign feature_image_array = product.metafields.custom_fields["feature_image"] | split: separator %}
  {% assign fc_keys = product.metafields.custom_fields["features_section"] | split: "," %}
  {% assign slides_counter = 0 %}

  {% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
    <style>
      #product-features {
        background-color: #ffffff;
      }
    </style>
  {% endif %}

  <div id="product-features" class="product-features" data-section-type="product-features" data-animated-background="#ffffff">
    <div class="container-fluid">
      <div class="row justify-content-center row-adjusted">
        <div class="col-lg-22 col-20 product-features-inner-container">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              {% for i in fc_keys %}
                {% assign index = i | plus: 0 %}
                {% assign eyebrow = feature_eyebrow_array[index] %}
                {% assign title = feature_title_array[index] %}
                {% assign copy = feature_copy_array[index] %}
                {% assign image = feature_image_array[index] %}
                {% if title != blank and image != blank %}
                  {% assign slides_counter = slides_counter | plus: 1 %}
                  <div class="feature-slide swiper-slide">
                    <div class="feature-slide__block">
                      {% if eyebrow != blank %}
                        <span class="h5 features-slide__eyebrow d-none d-lg-block">{{eyebrow}}</span>
                      {% endif %}
                      <h2 class="feature-slide__title">{{ title }}</h2>
                      {% if copy != blank %}
                        <div class="feature-slide__copy p2">{{ copy }}</div>
                      {% endif %}
                    </div>
                    <div class="feature-slide__block" data-image-block>
                      <span class="h5 features-slide__eyebrow d-block d-lg-none">Features</span>
                      <div class="feature-slide__image frame frame--1x1">
                        {% render 'image_tag'
                                  image: image,
                                  object_fit: 'cover'
                        %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          {% if slides_counter > 1 %}
          <div class="features__navigation-container">
            <div class="swiper-button-prev swiper-button">
              {% include 'icon-swiper-arrow' %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next swiper-button">
              {% include 'icon-swiper-arrow' %}
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
