{%- comment %}

  Banner Panel
  ------------------------------------------------------------------------------

  Usage:

  {% include 'richtext-block' 
              id: { string } - required
              content: { string }
  %}

{% endcomment -%}

<div id="rich-text-{{ id }}" class="rich-text-content p2">
  {{ content }}
</div>
