{% comment %}

  Add any 3rd party scripts here that need to be included before the closing <body> tag

{% endcomment %}

<!-- Klarna script -->
<script
  async
  src="https://na-library.klarnaservices.com/lib.js"
  data-client-id="3ccc3a79-c82f-5642-b45b-794a3751847d"
></script>
<!-- End of Klarna script -->

<!-- Criteo tracking -->
{% include 'criteo-tracking' %}
<!-- End of Criteo tracking -->

<!-- Quantcast Tag -->
<script type="text/javascript">
  window._qevents = window._qevents || [];

  (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
  })();

  window._qevents.push({
    qacct:"p-Ez2jMJ6439zUw",
    uid:"brian@municipal.com"
  });
</script>

<noscript>
  <div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/p-PqXGTAtb_rW5u.gif" border="0" height="1" width="1" alt="Quantcast"/>
  </div>
</noscript>
<!-- End Quantcast tag -->
