// -------------------------
// Drawer
// -------------------------
.drawer {
  position: fixed;
  z-index: $zindex-drawer;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $drawer-bg;
  border: 1px solid $drawer-border-color;
  pointer-events: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(100%);
  transition: all $transition-duration-base $transition-timing-function-base;

  // For a drawer that slides out from the left side
  &--left {
    left: 0;
    right: auto;
    transform: translateX(-100%);
  }

  &--bottom {
    top: auto;
    bottom: 0;
    transform: translateY(100%);

    &.is-visible {
      transform: translateY(0);
    }
  }

  &.is-visible {
    pointer-events: auto;
    transform: translateX(0%);
    transition: all $transition-duration-base $transition-timing-function-base;
  }

  // Ensure that the drawer is full width on screen sizes below this
  @include media-breakpoint-up('lg') {
    width: 71%;
    max-width: $drawer-max-width;
  }

  @include media-breakpoint-down('md') {
    &:not(.drawer--mobile-menu) {
      width: 100%;
      height: calc(100% - 50px);
      top: auto;
      bottom: 0;
      transform: translateY(100%);
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }

    &.is-visible {
      transform: translateY(0);
    }
  }

  .drawer__inner {
    padding: $drawer-padding-vertical $drawer-padding-horizontal;
  }

  .drawer__header {
    position: relative;
    margin-bottom: 0;
    padding: 30px;

    .drawer__close {
      all: unset;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translatey(-50%);
      z-index: 3;
      line-height: 0;
      cursor: pointer;

      .icon-close {
        width: 20px;
        height: auto;
      }

      &:hover .icon {
        fill: currentColor;
      }
    }
  }

  .drawer__header-title {
    margin: 0;
    padding: 0;
    font-family: $headings-font-family;
    font-size: 20px;
    line-height: 1;

    span {
      text-transform: capitalize;
    }
  }

  .drawer__body {

    &--flush {
      margin-left: -#{$drawer-padding-horizontal};
      margin-right: -#{$drawer-padding-horizontal};
    }
  }

  .drawer__body-contents {
    padding: 0 30px 30px;
    .drawer__body--flush & {
      padding-left: $drawer-padding-horizontal;
      padding-right: $drawer-padding-horizontal;
    }
  }

  .drawer__footer {
    margin-top: 20px;
    padding: $headings-margin-bottom 0 0;
    border-top: 2px solid $drawer-border-color;
  }
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-drawer-backdrop;
  background-color: transparent;
  pointer-events: none;
  transition: background-color $transition-duration-slide $transition-timing-function-slide-out;

  &.is-visible {
    background-color: $drawer-backdrop-color;
    pointer-events: auto;
    transition: background-color $transition-duration-slide $transition-timing-function-slide-in;
  }
}
