// -------------------------
// Drawer
// -------------------------
.drawer {
  position: fixed;
  z-index: $zindex-drawer;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $drawer-bg;
  pointer-events: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(100%);
  transition: all $transition-duration-base $transition-timing-function-base;

  // For a drawer that slides out from the left side
  &--left {
    left: 0;
    right: auto;
    transform: translateX(-100%);
  }

  &--bottom {
    top: auto;
    bottom: 0;
    transform: translateY(100%);

    &.is-visible {
      transform: translateY(0);
    }
  }

  &.is-visible {
    pointer-events: auto;
    transform: translateX(0%);
    transition: all $transition-duration-base $transition-timing-function-base;
  }

  // Ensure that the drawer is full width on screen sizes below this
  @include media-breakpoint-up('lg') {
    width: 71%;
    max-width: $drawer-max-width;
  }

  @include media-breakpoint-down('md') {
    &:not(.drawer--mobile-menu) {
      width: 100%;
      height: calc(100% - 50px);
      top: auto;
      bottom: 0;
      transform: translateY(120%);
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }

    &.is-visible {
      transform: translateY(0);
    }
  }

  .drawer__inner {
    padding: $drawer-padding-vertical $drawer-padding-horizontal;
  }

  .drawer__header {
    position: relative;
    margin-bottom: 0;
    padding: 30px;

    .drawer__close {
      all: unset;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translatey(-50%);
      z-index: 3;
      line-height: 0;
      cursor: pointer;

      .icon-close {
        width: 20px;
        height: auto;
      }

      &:hover .icon {
        fill: currentColor;
      }
    }
  }

  .drawer__header-title {
    margin: 0;
    padding: 0;
    font-family: $headings-font-family;
    font-size: 20px;
    line-height: 1;

    span {
      text-transform: capitalize;
    }
  }

  .drawer__body {

    &--flush {
      margin-left: -#{$drawer-padding-horizontal};
      margin-right: -#{$drawer-padding-horizontal};
    }
  }

  .drawer__body-contents {
    padding: 0 30px 30px;
    .drawer__body--flush & {
      padding-left: $drawer-padding-horizontal;
      padding-right: $drawer-padding-horizontal;
    }
  }

  .drawer__size-selector-wrapper {
    margin-bottom: 20px;
  }

  .drawer__size-selector {
    display: flex;
    width: 100%;
    border: 1px solid $color-dots-border;
    border-radius: 999px;
  }

  .drawer__size-selector-disclaimer,
  .drawer__bis-noity-text {
    font-size: 12px;
    margin-top: 20px;
    line-height: 1.5;
    font-family: $font-family-heading-medium;
    display: flex;

    span {
      display: inline-block;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: $blue;
      border-radius: 50%;
      margin-right: 12px;
      margin-bottom: 0;
      margin-top: 3px;
      animation: blink 1.1s step-start infinite;
      flex-shrink: 0;
    }
  }

  .drawer__bis-noity-text {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .drawer__size-selector-option-container {
    width: 100%;
    min-width: 33.33%;
    text-align: center;
    margin-bottom: 0;
  }

  .drawer__size-selector-option {
    font-size: 14px;
    color: $black;
    background-color: $white;
    border-radius: 900px;
    text-align: center;
    transition: $transition-duration-base $transition-timing-function-in-out-ui;
    transition-property: color, background-color;
    display: block;
    width: 100%;
    cursor: pointer;
    line-height: 30px;

    @include media-breakpoint-down('sm') {
      font-size: 12px;
    }
  }

  input[type="radio"]:checked + .drawer__size-selector-option {
    color: $white;
    background-color: $blue;
  }

  .drawer__footer {
    margin-top: 20px;
    padding: $headings-margin-bottom 0 0;
    border-top: 2px solid $drawer-border-color;
  }
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-drawer-backdrop;
  background-color: transparent;
  pointer-events: none;
  transition: background-color $transition-duration-slide $transition-timing-function-slide-out;

  &.is-visible {
    background-color: $drawer-backdrop-color;
    pointer-events: auto;
    transition: background-color $transition-duration-slide $transition-timing-function-slide-in;
  }
}
