.findify__filters, .product-grid__filters {
  max-width: 0;
  overflow: hidden;
  display: none;

  &.is-open {
    max-width: unset;
    padding-right: 50px;
    display: block;
  }

  @include media-breakpoint-down('md') {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    height: calc(100% - 50px);
    padding: 0 !important;
    background-color: $white;
    z-index: 9999;
    max-width: unset;
    pointer-events: none;
    transform: translateY(100%);
    transition: transform $transition-duration-base $transition-timing-function-in-out-ui;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow-y: auto;

    &.is-open {
      pointer-events: all;
      transform: translateY(0);
    }

  }
}

.findify__filters, .product-grid__filters-mobile-header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  @include media-breakpoint-up('lg') {
    display: none;
  }
}

.findify__filter, .product-grid__filter-icon-close {
  &:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: $black;
    mask: url('./icon-close.svg') no-repeat center;
    mask-size: contain;
  }
}

.findify__filters, .product-grid__filters-mobile-title {
  font-size: 20px;
  color: $black;
  margin-bottom: 0;
}

.findify__filters, .product-grid__filters-close-button {
  background: transparent;
  border: none;
  padding: 0;
}

.filter {
  border-top: 3px solid $black;
  margin-top: 20px;
  padding-top: 20px;

  &:nth-child(2) {
    margin-top: 0;
  }

  &:nth-last-child(2) {
    padding-bottom: 20px;
  }

  @include media-breakpoint-down('md') {
    margin-right: 30px;
    margin-left: 30px;
  }
}

.filter__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__title {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  font-family: $font-family-heading-small;
  text-transform: uppercase;
  line-height: 1;
}

.filter__toggle {
  cursor: pointer;
  border:none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.filter__toggle-icon-container {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;

  &:before,
  &:after {
    content: "";
    display: block;
    background-color: $black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    width: 100%;
    height: 3px;
  }

  &:after {
    height: 100%;
    width: 3px;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform $transition-duration-base $transition-timing-function-in-out-ui;

    .filter.is-open & {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

.filter__body {
  display: flex;
  flex-direction: column;
  max-height: 0%;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;

  .filter.is-open & {
    max-height: fit-content;
  }
}

.filter__option {
  display: flex;
  font-size: 14px;
  font-family: $font-family-heading-medium;
  line-height: 22px;
  margin-top: 15px;
  margin-bottom: 0;
  cursor: pointer;

  &:first-child {
    margin-top: 30px;
  }

  input[type="checkbox"] {
    appearance: none;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-left: 2px;
    border: 2px solid $black;
    margin-right: 20px;
    position: relative;

    &:checked {
      background-color: $black;
      &:before {
        content:"";
        display: block;
        position: absolute;
        width: 13px;
        height: 6px;
        border-bottom: 2px solid $white;
        border-left: 2px solid $white;
        transform: rotate(320deg) translate(-50%, -50%);
        left: 56%;
        top: 2px;
      }
    }
  }
}

.filter__count {
  margin-left: auto;
}

.filter__price-range {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.filter__input {
  position: relative;
  line-height: 0;

  input {
    appearance: textfield;
    padding-left: 20px;
    height: 30px;
    border: 1px solid $color-dots-border;
    font-size: 16px;
    font-family: $font-family-heading-medium;
    background-color: transparent;
    width: 100px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}

.filter__input-symbol {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 1;
}

.filter__divider {
  font-size: 20px;
  line-height: 1;
  margin: 0 10px;
}

.filter__input-button {
  border: none;
  background: none;
  font-size: 14px;
  font-family: $font-family-heading-medium;
  color: $black;
  padding: 0;
  width: 40px;
  margin-left: 5px;
}

.findify__filters, .product-grid__filters-apply-btn-container {
  margin-top: 20px;
  padding: 20px;
  border-top: 3px solid $black;

  @include media-breakpoint-up('lg') {
    display: none;
  }
}

.findify__filters, .product-grid__filters-apply-btn {
  padding: 15px 20px;
  min-height: unset;

  .icon-arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    mask: url('./hover-arrow.svg') no-repeat center;
    mask-size: contain;
    background-color: currentcolor;
    margin-left: 10px;
    margin-bottom: -5px;
  }
}

.findify__filters, .product-grid__filters-backdrop {
  @include media-breakpoint-down('md') {
    background-color: rgba($black, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
    transition: opacity $transition-duration-base $transition-timing-function-in-out-ui;

    .findify__filters, .product-grid__filters.is-open ~ & {
      opacity: 1;
      pointer-events: all;
    }
  }
}
