// -------------------------
// Icons
// -------------------------

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  fill: currentColor;

  @include media-breakpoint-up('md') {
    width: 42px;
    height: 42px;
  }

  @include media-breakpoint-up('lg') {
    width: 52px;
    height: 52px;
  }
  .no-svg & {
    display: none;
  }
}

svg,
symbol {
  &.icon:not(.icon--full-color) {
    circle,
    ellipse,
    g,
    line,
    path,
    polygon,
    polyline,
    rect {
      fill: inherit;
      stroke: inherit;
    }
  }

}

.icon-play {
  fill: none;
  stroke: currentColor;
  width: 120px;
  height: auto;

  @include media-breakpoint-up('md') {
    width: 187px;
  }

  @include media-breakpoint-up('lg') {
    width: 243px;
  }
}

/* ============================================================================
  A generic way to visually hide content while
  remaining accessible to screen readers (h5bp.com)
============================================================================== */
.icon-fallback-text {
  @include visually-hidden();

  .no-svg & {
    @include visually-shown(static);
  }
}


.icon-municipal-circle,
.icon-gear {
  width: 100px;
  height: 100px;
}