// -------------------------
// Modals
// -------------------------

.minimal-input-box {
  position: relative;
}

.minimal-input-box__input {
  @extend .form-control;
  padding: 15px 50px 15px 60px;
  border: 3px solid $black;
  border-radius: 0;
  border-radius: 90px;
  height: auto;
  color: $black;
  font-weight: bold;

  &,
  &:focus {
    background-color: transparent;
    color: $black;
  }

  &::placeholder {
    font-family: $font-family-base;
    color: $black;
    font-weight: bold;
  }

  @include media-breakpoint-down('md') {
    padding: 10px 50px 10px 50px;
  }
}

.minimal-input-box__input--search {
    height: large-vw(54px, 120px);
    background: $white;
    border-radius: 60px;
    font-size: large-vw(18px, 50px);
    font-weight: bold;
    color: black;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: large-vw(50px, 120px);
    padding-right: large-vw(50px, 120px);
    margin-bottom: large-vw(22px, 48px);
    border: none;

    @include media-breakpoint-down('md') {
      height: 54px;
      font-size: 18px;
      padding: 0 50px;
      margin-bottom: 22px;
    }

    &:focus {
      background-color: white;
    }
  }

.minimal-input-box .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: large-vw(22px, 54px);

  @include media-breakpoint-down('md') {
    left: 22px;
  }

  svg {
    width: large-vw(23px, 50px);
    height: large-vw(23px, 50px);

    @include media-breakpoint-down('md') {
      width: 23px;
      height: 23px;
    }
  }
}

.minimal-input-box__submit {
  @extend .btn-link;
  position: absolute;
  text-align: right;
  cursor: pointer;
  width: large-vw(50px, 70px);
  right: large-vw(25px, 50px);
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  background: transparent;
  opacity: 1;
  
  &:focus,
  &.focus {
    outline: none;
  }

  @include media-breakpoint-down('md') {
    width: 50px;
    right: 25px;
  }

  svg {
    width: large-vw(32px, 70px);
    height: large-vw(40px, 70px);
    opacity: 0.5;

    @include media-breakpoint-down('md') {
      width: 32px;
      height: 40px;
    }
  }

  svg g {
    fill: $arrow-gray;
  }
}

.mobile-menu-block .minimal-input-box .minimal-input-box__input--search {
  border: 0;
}

.mobile-menu-block .minimal-input-box .minimal-input-box__submit {
  height: 90%;
  background-color: transparent;
}

.icon-search-container {
  position: absolute;
  left: 30px;
  top: 16px;

  @include media-breakpoint-down('md') {
    left: 15px;
    line-height: 1;
  }
}

// White form controls for placement on dark backgrounds
.minimal-input-box--inverted {

  .icon-search {
    fill: $white;
  }

  .minimal-input-box__input {
    color: $white;
    border-color: $white;

    &:focus {
      color: $white;
      border-color: $white;
    }


    &::placeholder {
      color: $white;
    }
  }


  .minimal-input-box__submit {
    svg {
      fill: $white;
    }
  }
}

// Large minimal input
.minimal-input-box--large {

  .minimal-input-box__input {
    height: $minimal-input-height-large;
    font-size: $font-size-lg;
  }

  .minimal-input-box__submit {
    svg {
      height: 25px;
      width: 25px;
    }
  }
}

.autocomplete-results-container {
  position: absolute;
  top: calc(100% + 5px);
  border: 2px solid $black;
  width: calc(100% - 60px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;

  .autocomplete-results {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .autocomplete-item {
    padding: 5px 20px;

    a {
      display: block;
    }

    &:hover {
      background-color: $gray-lighter;
    }
  }
}