/* stylelint-disable */

// -------------------------
// Yotpo
// -------------------------

// These variables should be defined in variables.scss.liquid but need to default to `false` in order for our conditional logic to work
$yotpo-icon-star: 'yotpo-full-star.svg';
$yotpo-icon-star-half: 'yotpo-empty-star.svg';
$yotpo-icon-star-empty:  'yotpo-empty-star.svg';

@import 'yotpo/rating-stars';
@import 'yotpo/reviews';

.reviews__drawer {
  @include media-breakpoint-up('lg') {
    width: calc( 100% / 24 * 10);
  }
}

.reviews__drawer-header {
  font-size: 24px;
  font-family: $font-family-heading-medium;
}
