/* stylelint-disable */

// -------------------------
// Yotpo
// -------------------------

// These variables should be defined in variables.scss.liquid but need to default to `false` in order for our conditional logic to work
$yotpo-icon-star: 'yotpo-full-star.svg';
$yotpo-icon-star-half: 'yotpo-empty-star.svg';
$yotpo-icon-star-empty:  'yotpo-empty-star.svg';




































.yotpo-reviews-container {
  background-color: $white;
  
  .yotpo.yotpo {

    div,
    span,
    p,
    a,
    img,
    i,
    strong,
    sup,
    ul,
    li,
    form,
    label {
      font-family: $font-family-base !important;
      font-size: $font-size-base !important;
      line-height: $line-height-base !important;
      color: $body-color !important;
    }

    @if $yotpo-icon-star {
      .yotpo-icon-default-star,
      .yotpo-icon-star {
        width: 100px !important;
        height: 100px !important;
        display: inline-block;
        position: relative;
        
        &:before {
          content: "";
          background-image: url($yotpo-icon-star);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
        }
      }
    }

    @if $yotpo-icon-star-half {
      .yotpo-icon-default-half-star,
      .yotpo-icon-half-star {
        width: 100px !important;
        height: 100px !important;
        display: inline-block;
        position: relative;
        
        &:before {
          content: "";
          background-image: url($yotpo-icon-star-half);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
        }
      }
    }

    @if $yotpo-icon-star-empty {
      .yotpo-icon-default-empty-star,
      .yotpo-icon-empty-star {
        width: 100px !important;
        height: 100px !important;
        display: inline-block;
        position: relative;
        
        &:before {
          content: "";
          background-image: url($yotpo-icon-star-empty);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
        }
      }
    }




























    //Hide Elements

    .yotpo-regular-box.yotpo-bottomline-2-boxes .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .questions.pull-left,
    .main-widget.yotpo-display-wrapper > .yotpo-label.yotpo-small-box, 
    .yotpo-default-button.yotpo-icon-btn.write-question-button,
    .yotpo-default-button .yotpo-icon.yotpo-icon-write,
    .yotpo-review.yotpo-regular-box .yotpo-footer,
    .yotpo-icon-profile.yotpo-header-element,
    .yotpo-reviews .yotpo-first-review,
    .yotpo-small-box.yotpo-nav, 
    .yotpo-star-distribution,
    .yotpo-logo-link-new{
      display: none !important;
    }


    // General elements
      .yotpo-regular-box.yotpo-bottomline-2-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-bottom: large-vw(30px, 50px);

        .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-stars {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          
          .yotpo-icon {
            margin-bottom: large-vw(30px, 55px);
          }
        }

        .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-stars:after {
          content: "Don’t believe the hype - believe the reviews";
          font-size: large-vw($h2-font-size-mobile, $h2-font-size) !important;
          font-family: $headings-font-family!important;
          text-transform: uppercase;
          line-height: 125px !important;
          text-align: center;
          
          @include media-breakpoint-down('md') {
            font-size: $h2-font-size-mobile !important;
            line-height: 45px !important;
          }
        }
      }

      .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews {
        max-width: 100% !important;

        .yotpo-stars {
          padding: 0;
        }
      }




















    // Single Review
      .yotpo-review.yotpo-regular-box {
        display: flex;
        margin: 0;
        padding: large-vw(45px, 75px) 0 large-vw(45px, 80px);
        justify-content: space-between;
        border-bottom: solid 4px $black;
      
        .yotpo-review-stars .yotpo-icon {
          width: 62px !important;
          height: 62px !important;
        }

        .yotpo-header {
          width: 25%;
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          .yotpo-header-element  {
            display: flex;
            flex-direction: column-reverse;
          }

          .yotpo-review-stars  {
            margin: 0 0 large-vw(30px, 60px) !important;
          }

          .yotpo-header-element span.y-label.yotpo-review-date {
            font-size: 20px !important;
          }

          .yotpo-header-element span.y-label.yotpo-user-name {
            font-size: large-vw(20px, 40px) !important;
          }
        }

        .yotpo-main {
          width: 68%;
          margin: 0;
        }

        .content-title {
          font-size: large-vw(30px, 75px) !important;
          font-weight: $font-weight-normal !important;
          font-family: $headings-font-family !important;
          margin-bottom: large-vw(20px, 45px);
          line-height: large-vw(35px, 85px) !important;
        }

        .yotpo-review-wrapper .content-review {
          font-size: 35px !important;
          font-weight: $font-weight-semi-bold;
          line-height: 1.86 !important;
        }
      }
  



























    // Yotpo Buttons
    .yotpo-default-button.yotpo-icon-btn.yotpo-hidden-mobile.write-button.write-review-button {
      background: transparent;
      position: initial;
      border: none;

      span {
        font-weight: $font-weight-bold;
        color: $cyan !important;
        font-size: 28px !important;
        text-transform: capitalize;
      }
    }


  }
}
