.four04__content {
  margin-top: large-vw(240px, 240px);
  margin-bottom: large-vw(260px, 260px);
  @media (max-width: 768px) {
    margin-top: 240px;
    margin-bottom: 260px;
  }
  text-align: center;
}

.four04__title {
  color: $yellow;
}

.four04__subtitle {
  color: $white;
}

.four04__subtitle a {
  color: $white;
  text-decoration: underline;
}

.four04__subtitle a:hover {
  color: $white;
}

.four04:before {
	content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
}

.four04__input-seach {
  margin-top: 40px;
  margin-bottom: 0;
}

