.blog {
  background-color: $black;
  padding-bottom: 60px;

  .findify-pagination {
    margin-top: 40px;
  }

  .findify-pagination .pagination-item {
    color: $white;

    &:hover {
      color: $blue;
    }
  }

  .category-capsule:hover {
    border-color: $green;
    background: $green;
  }

  .category-capsule--highlighted {
    background: $green;
    border-color: $green;
    color: $black;
  }

  .container-fluid-max {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.blog-header {
  padding-top: 160px;
  padding-bottom: 160px;
  @include media-breakpoint-down('md') {
    padding-top: 135px;
    padding-bottom: 70px;
  }
}

.blog-header__title {
  @include media-breakpoint-down('md') {
    font-size: 55px;
    line-height: 51px;
    margin-bottom: 23px;
  }
}

.blog-header__title, .blog-header__description * {
  color: $white;
}

.blog-header__description p {
  font-family: $font-family-secondary;
}

.blog-header__filters {
  .swiper-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  @include media-breakpoint-down('md') {
    margin-top: 51px;
  }
}