// -------------------------
// Challenge Page
// -------------------------

.shopify-challenge__container {
  display: block;

  .shopify-challenge__message,
  .shopify-challenge__errors {
    font-size: 12px;
    line-height: 1;
    margin: 13px auto 16px;
  }

  .shopify-challenge__error {
    color: $red;
  }

  .shopify-challenge__button {
    margin-top: 30px !important;

    &:hover {
      color: $white;
    }
  }
}
