.template-search {
  .layout-content-wrapper {
    padding-top: large-vw(70px, 150px);
    padding-bottom: large-vw(70px, 150px);

    @include media-breakpoint-down('md') {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }

  .minimal-input-box__input--search {
    margin-bottom: large-vw(59px ,145px);
    border: large-vw(4px, 8px) solid $black;
    @include media-breakpoint-down('md') {
      margin-bottom: 59px;
      border: 4px solid $black;
    }
  }

  .search__results-header {
    margin-bottom: large-vw(30px, 146px);

    @include media-breakpoint-down('md') {
      margin-bottom: 30px;
    }
  }

  .search__title {
    margin-bottom: 0;
  }

  .search__count {
    @extend .p2;
    text-align: right;

    @include media-breakpoint-down('md') {
      margin-bottom: 20px;
      text-align: left;
    }
  }

}