// -------------------------
// Account Pages
// -------------------------

// Not scoped to a specific account page

.account-block {
  margin-bottom: 30px;

  @include media-breakpoint-up('md') {
    margin-bottom: 60px;
  }

  address {
    margin-bottom: $spacer;
  }

  .account__order-row & {
    font-size: 16px;
  }
}

.account-block__title {
  text-transform: uppercase;
}

.account-block__content {
  margin: 30px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include p3;

  &:first-child {
    margin-top: 0;
  }
}

table.order-detail-totals {
  @include media-breakpoint-up('lg') {
    max-width: 550px;
    margin-left: auto;
  }
}

.account-sidebar {
  padding: 60px 30px 30px;
  background-color: $gray-lighter;

  @include media-breakpoint-up('md') {
    padding: 60px;
  }
}

.account-sidebar__content {
  height: 100%;

  select {
    background-color: $white;
    border: 1px solid $color-dots-border;

    @include media-breakpoint-up('lg') {
      min-height: 70px;
      padding: 23px 53px;
    }

    border-radius: 0;
    width: 100%;
    @extend .p2;
    line-height: 1;

    & ::placeholder {
        @extend .p2;
    }
  }
}

.account-sidebar__title {
  text-transform: uppercase;
  margin-bottom: 45px;
  font-weight: $font-weight-normal;

  @include media-breakpoint-down('md') {
    margin-bottom: 30px;
    text-align: center;
  }
}

.account-sidebar__menu {
  @include list-unstyled;

  li {
    margin: 21px 0;
    font-weight: $font-weight-bold;
    text-transform: none;
    line-height: 1;

    a {
      vertical-align: middle;
    }

      &::after {
        content: '';
        padding-right: 0px;
        width: auto;
        height: 45px;
        transition: all 150ms ease-in-out;
        background-image: url('hover-arrow--black.svg');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        vertical-align: middle;
      }

      &.is-active,
      &:hover {
        &::after {
          padding-left: 18px;
          margin-left: 15px;
        }
      }

      @include media-breakpoint-up('lg') {
        &.is-active,
        &:hover {
          &::after {
            padding-left: 30px;
            margin-left: 25px;
          }
        }
      }
  }
}

.account-content {
  padding: 60px 30px;

  @include media-breakpoint-up('md') {
    padding: 60px;
  }
}

.account__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  @include h5;

  &.account__title--addresses {
    margin-bottom: large-vw(50px, 100px);

    @include media-breakpoint-down('md') {
      margin-bottom: 50px;
    }
  }
}

.account__addresses-column {
  margin-bottom: 30px;
}

.account__customer-address {
  margin: 30px 0;
  @include p3;

  &:first-child {
    margin-top: 0;
  }
}

.address-btn {
  margin-left: 20px;

  @include media-breakpoint-down(md) {
    margin-right: 15px;
  }

  &:first-child {
    margin-left: 0;
  }
}

.account-address__title {
  margin-bottom: 0;
  font-size: 14px;
  color: $blue;

  @include media-breakpoint-down('md') {
    font-size: 10px;
  }
}

.orders-table {
  th:first-child,
  td:first-child {
    padding-left: 0;
  }
  th:last-child,
  td:last-child {
    padding-right: 0;
  }
}

.orders-table--mobile {
  th {
    padding-left: 0;
  }
}
