// -------------------------
// Account Pages
// -------------------------

// Not scoped to a specific account page

.account__layout {
  min-height: 831px;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  overflow: hidden;

  @include media-breakpoint-down('md') {
    min-height: auto;
    padding: 0;
    background-color: $white !important;
    align-items: flex-start;
  }
}

.account__bg-image-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.account__bg-image {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;

  @include media-breakpoint-down('md') {
    display: none;
  }
}

.account__info-container {
  width: 100%;
  max-width: 578px;
  padding: 70px 100px;
  background-color: $white;
  border-radius: 20px;
  text-align: center;
  z-index: 1;

  &.account__info-container--thin-padding {
    // max-width: 778px;
    padding: 70px 94px;

    @include media-breakpoint-down('md') {
      padding: 50px 20px;
    }
  }
}

.account__header {
  font-size: 24px;
  line-height: 1;
  font-family: $font-family-heading-large;
  margin-bottom: 13px;
}

.account__description {
  font-size: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  font-family: $font-family-heading-medium;
}


.account__links {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
}

.account__link-item {
  list-style: none;
  margin-top: 0;
  padding: 0 5px;
}

.account__link {
  @extend .navigation-categories__button;
  cursor: pointer;
  background-color: $black;
  color: $white;
  font-size: 10px;

  &:hover {
    background-color: $green;
    color: $black;
  }
}

.account__link--active {
  background: $green;
  color: $black;
}

/* Customer template */

.account__customer-name {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.account__info-group {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  line-height: 1.5;

  & + & {
    margin-top: 30px;
  }

  &.account__info-group--no-space {
    margin-top: 0;
  }
}

.account__info-label {
  width: 95px;
  flex-shrink: 0;
  margin-right: 10px;
  color: rgba($black, 0.45);
  text-align: left;
}

.account__info-value {
  text-align: left;
  margin-right: auto;
}

.account__info-footer {
  margin-top: 60px;
}

.account__info-edit-button {
  border: none;
  background: none;
  color: rgba($black, 0.30);

  &:hover {
    color: $black;
  }

  .icon {
    width: 16px;
    height: auto;
    transition: color $transition-duration-fast $transition-timing-function-in-out-ui;
  }
}

/* Order list page */

.account__order-group {
  display: flex;
  align-items: start;
  & + & {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $core-grey-2;
  }
}

.account__order-group-link {
  margin-left: auto;
  line-height: 0;
}

.account__order-link {
  font-size: 10px;
}

.account__pagination {
  margin-top: 30px;
  .findify-pagination {
    margin-bottom: 0;
  }
}

/* Address list page */
.account__address-group {
  @extend .account__order-group;
}

.account__address-group-data {
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
}

.account__address-default-tag {
  font-size: 10px;
  text-transform: uppercase;
  color: $blue;
  margin-bottom: 2px;
}

.account__address-group-link {
  @extend .account__order-group-link;
}

.account__address-edit-button {
  @extend .account__info-edit-button;
}

.account__address-button-container {
  margin-top: 20px;
}

.account__address-button {
  font-size: 12px;
  padding: 10px 30px;
  width: 150px;
  max-width: 100%;
}