// -------------------------
// Account Pages
// -------------------------

// Not scoped to a specific account page

.account-block {
  margin-bottom: large-vw(60px, 120px);

  @include media-breakpoint-down('md') {
    margin-bottom: 60px;
  }

  address {
    margin-bottom: $spacer;
  }

  .account__order-row & {
    font-size: 16px;
  }
}

table.order-detail-totals {
  @include media-breakpoint-up('lg') {
    max-width: 550px;
    margin-left: auto;
  }
}

.account-sidebar {
  background-color: $gray-lighter;
  padding: large-vw(60px, 140px) large-vw(40px, 80px);

  @include media-breakpoint-down('md') {
    padding: 60px 40px;
  }
}

.account-sidebar__content {
  height: 100%;
}

.account-sidebar__title {
  text-transform: capitalize;
  margin-bottom: large-vw(20px, 28px);
  font-weight: $font-weight-normal;

  @include media-breakpoint-down('md') {
    margin-bottom: 20px;
  }
}

.account-sidebar__menu {
  @include list-unstyled;

  li {
    text-transform: none;
    font-weight: $font-weight-normal;
    line-height: large-vw(40px, 70px);
    margin-bottom: 0;

    a {
      vertical-align: middle;
    }

    @include media-breakpoint-up('lg') {
      &::before {
        content: '';
        padding-right: 0px;
        width: auto;
        height: large-vw(30px, 50px);
        transition: all 150ms ease-in-out;
        background-image: url('hover-arrow--black.svg');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        vertical-align: middle;

        @include media-breakpoint-down('md') {
          height: 30px;
        }
      }

      &.is-active,
      &:hover {
        &::before {
          padding-right: large-vw(30px, 50px);
          margin-right: large-vw(0, 45px);

          @include media-breakpoint-down('md') {
            padding-right: 30px;
          }
        }
      }
    }
  }
}

.account-content {
  padding: large-vw(60px, 140px) large-vw(40px, 80px);

  @include media-breakpoint-down('md') {
    padding: 60px 40px;
  }

  .btn.btn-primary {
    font-size: large-vw(18px, 28px);
  }
}

.account__title {
  border-bottom: 8px solid $black;
  font-weight: $font-weight-normal;
  padding-bottom: 15px;
  &.account__title--addresses {
    margin-bottom: large-vw(50px, 100px);

    @include media-breakpoint-down('md') {
      margin-bottom: 50px;
    }
  }
}

.account__addresses-column {
  margin-bottom: 30px;
}

.account__customer-address {
  display: block;
  font-weight: $font-weight-semi-bold;
  margin-bottom: large-vw(40px ,80px);
}
