// -------------------------
// Login
// -------------------------

.template-login {
  .layout-content-wrapper {
    margin: #{$spacer * 3} 0;
  }

  .btn {
    width: auto !important;
  }

  .custom-control-label, h5, h6, #RecoverPassword {
    opacity: 1;
    transform: translateX(0);
  }
}
