// -------------------------
// Login
// -------------------------

.form-success {
  color: $black;
  font-size: 14px;
  background-color: $green;
  font-family: $font-family-heading-medium;
  line-height: 1.5;
  padding: 5px 10px;
  margin-bottom: 20px;
  width: calc(100% + 188px);
  margin-left: -94px;
  margin-top: -40px;
  margin-bottom: 40px;

  &:before {
    content: "";
    display: inline-block;
    background: $black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 5px;
    animation: blink 1s infinite;
  }

  @include media-breakpoint-down('md') {
    top: -50px;
    font-size: 10px;

    &:before {
      width: 7px;
      height: 7px;
    }
  }
}

.errors,
%errors {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    @extend .p5;
    color: $red;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
