// -------------------------
// Register
// -------------------------

.template-register .layout-content-wrapper {
  padding: 60px 0;
}
.template-register {
  overflow-x: hidden;

  .custom-control-label, h5, h6 {
    opacity: 1;
    transform: translateX(0);
  }

  .form-group__small-text a {
    display: inline-block;
  }
}
