// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  font-size: 16px;
  padding: 12px 50px;
  border-radius: 90px;
  position: relative;
  @include transition($btn-transition);
  @include hover {
    color: $body-color;
    text-decoration: none;

    .btn__ui {
      margin-left: 30px;
    }

    .icon {
      fill: $white;
    }
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  .btn__ui {
    @include transition(
      margin-left $transition-duration-fast $transition-timing-function-base
    );
    margin-left: 20px;
    .icon {
      @include transition(
        fill $transition-duration-fast $transition-timing-function-base
      );
      width: 30px;
      height: 30px;
    }
  }

  &.btn--small {
    font-size: large-vw($h6-font-size-mobile, $h6-font-size);

    @include media-breakpoint-down('md') {
      font-size: $h6-font-size-mobile;
    }
  }

  &.btn--smallest {
    font-size: 16px;
  }

  &.btn--underlined {
    font-weight: $font-weight-normal;
    padding: 0 0 5px;
    &:focus {
      box-shadow: none;
    }
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $black;
    }
  }

  @include media-breakpoint-up('lg') {
    padding: large-vw(12px, 25px) large-vw(50px, 50px);
    font-size: large-vw(16px, 28px);
    .btn__ui .icon {
      width: large-vw(30px, 50px);
      height: large-vw(30px, 50px);
    }
  }
  @include media-breakpoint-down('xs') {
    width: 100%;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

//
// Alternate buttons
//

@each $color, $value in $btn-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $btn-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-bold;
  color: $link-color;
  text-decoration: $link-decoration;
  background: none;
  border: none;

  @include hover {
    color: $cyan;
    text-decoration: none;
    .btn__ui .icon {
      fill: $cyan;
    }
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}

//
// Button Sizes
//

.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-line-height-lg,
    $btn-border-radius-lg
  );
}

.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-line-height-sm,
    $btn-border-radius-sm
  );
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;
  padding: 18px 50px;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }

  @include media-breakpoint-down('md') {
    padding: 15.5px 20px;
  }
}

// Specificity overrides
input[type='submit'],
input[type='reset'],
input[type='button'] {
  &.btn-block {
    width: 100%;
  }
}

.btn-primary {
  background-color: $black;
  border-color: $black;

  &:hover {
    background-color: $black;
    border-color: $black;
  }

  &.disabled,
  &:disabled {
    background-color: $black;
    border-color: $black;
  }
}

.btn-outline-primary {
  padding: 19px 44px;
  background-color: $white;
  border: 6px solid $black;
  color: $black;

  .icon {
    fill: $black;
  }

  &:hover {
    color: $black;
    background-color: $white;
    border-color: $black;

    .icon {
      fill: $black;
    }
  }

  &.disabled,
  &:disabled {
    color: $black;
  }

  @include media-breakpoint-down('md') {
    border-width: 4.5px;
    padding: 15.5px 75.5px;
  }
}

.btn-secondary {
  background-color: $cyan;
  border-color: $cyan;
  &:hover {
    background-color: $cyan;
    border-color: $cyan;
  }

  &.disabled,
  &[disabled] {
    background-color: $cyan;
    border-color: $cyan;
  }
}

.btn-outline-secondary {
  padding: 19px 44px;
  background-color: $white;
  border: 6px solid $red;
  color: $red;

  .icon {
    fill: $red;
  }

  &:hover {
    color: $red;
    background-color: $white;
    border-color: $red;

    .icon {
      fill: $red;
    }
  }

  &.disabled,
  &[disabled] {
    color: $red;
  }

  @include media-breakpoint-down('md') {
    border-width: 4.5px;
    padding: 15.5px 75.5px;
  }
}

.btn-white {
  background-color: $white;
  color: $black;

  &:hover {
    .btn__ui .icon {
      fill: $black;
    }
  }
}
