// stylelint-disable declaration-no-important, selector-list-comma-newline-after

// Defaults style for all the html fields, so they don't have to be re-styled afterwards.
html,
body {

}

h1, .h1 {
  @apply text-h1-m lg:text-h1 font-sequel-roman;
}
h2, .h2 {
  @apply text-h2-m lg:text-h2 font-sequel-roman;
}
h3, .h3 {
  @apply text-h3-m lg:text-h3 font-sequel-roman;
}
h4, .h4 {
  @apply text-h4-m lg:text-h4 font-sequel-medium;
}
h5, .h5 {
  @apply text-h5-m lg:text-h5 font-sequel-medium;
}
h6, .h6 {
  @apply text-h6-m lg:text-h6 font-sequel-medium;
}

.lead {
 @apply text-h1-m lg:text-h1 font-sequel-roman;
}

// Type display classes
.display-1 {
  @apply text-display-m lg:text-display font-sequel-roman;
}
.display-2 {
  @apply text-display-m lg:text-display font-sequel-roman;
}
.display-3 {
  @apply text-display-m lg:text-display font-sequel-roman;
}
.display-4 {
  @apply text-display-m lg:text-display font-sequel-roman;
}

//
// Paragraphs
//

p, .p1 {
  @apply text-p1-m lg:text-p1;
 }
.p2 {
  @apply text-p2-m lg:text-p2;
 }
.p3 {
  @apply text-p3-m lg:text-p3;
 }
.p4 {
  @apply text-p4-m lg:text-p4;
 }
.p5 {
  @apply text-p5-m lg:text-p5;
 }
.p6 {
  @apply text-p6-m lg:text-p6;
 }

//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


//
// Lists
//

.list-unstyled {
}

// Inline turns list items into inline-block
.list-inline {
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}


//
// Misc
//

// Builds on `abbr`
.initialism {
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  margin-bottom: $spacer;
}

.blockquote-footer {
  display: block;
  color: $blockquote-small-color;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}
