/**
 * CORE
 * ---------------------------------------
 * Pieces pulled from Bootstrap
 *
 */
@import 'core/functions';
@import 'core/variables';
@import 'core/mixins';
@import 'core/fonts';

body {
  color: $white;
  background-color: $black;
  font-family: $font-family-base;
}


h1, .heading-1,
h2, .heading-2,
h3, .heading-3,
h4, .heading-4,
h5, .heading-5 {
  font-family: $font-family-base;
}

a {
  color: $white;
}

.input-checkbox:checked, .input-radio:checked {
  box-shadow: 0 0 0 10px $black inset;
}
