/**
 * VENDOR
 * ---------------------------------------
 * Import these up here to allow overrides down below
 *
 */
 @import 'vendor/swiper.scss';

/**
 * CORE
 * ---------------------------------------
 * Pieces pulled from Bootstrap
 *
 */
@import 'core/functions';
@import 'core/variables';
@import 'core/mixins';
@import 'core/root';
@import 'core/reboot';
@import 'core/fonts';
@import 'core/type';
@import 'core/helpers';
@import 'core/images';
@import 'core/code';
@import 'core/grid';
@import 'core/layout';
@import 'core/tables';
@import 'core/forms';
@import 'core/buttons';
@import 'core/transitions';
@import 'core/button-group';
@import 'core/custom-forms';
@import 'core/card';
@import 'core/alert';
@import 'core/close';
@import 'core/modal';
@import 'core/utilities';

/**
 * COMPONENTS
 * ---------------------------------------
 * Components are small elements that may be re-used in multiple modules
 *
 */
@import 'components/icon';
@import 'components/tabs';
@import 'components/drawer';
@import 'components/breadcrumbs';
@import 'components/panel';
@import 'components/page';
@import 'components/rte';
@import 'components/pagination';
@import 'components/social-sharing';
@import 'components/chosen';
@import 'components/content';
@import 'components/card';
@import 'components/docs';
@import 'components/banner';
@import 'components/minimal-input';
@import 'components/quantity-adjuster';
@import 'components/dots';
@import 'components/promo';
@import 'components/frame';
@import 'components/spacer';
@import 'components/slideup';
@import 'components/arrows';
@import 'components/expandable-list';
@import 'components/overlay';
@import 'components/slideshow';
@import 'components/video-player';
@import 'components/yotpo';
@import 'components/newsletter-form';
@import 'components/load-more';
@import 'components/badge.scss';
@import 'components/blink-box.scss';
@import 'components/sticker.scss';
@import 'components/lead-content.scss';
@import 'components/pullquote.scss';
@import 'components/end-card.scss';
@import 'components/profiles.scss';
@import 'components/image-caption.scss';
@import 'components/heading-media.scss';
@import 'components/navigation/search.scss';
@import 'components/navigation/cta.scss';
@import 'components/navigation/card-grid.scss';
@import 'components/navigation/card-block.scss';
@import 'components/navigation/info-card.scss';
@import 'components/navigation/navigation-categories.scss';
@import 'components/navigation/navigation-carousel.scss';
@import 'components/navigation/navigation-form.scss';
@import 'components/navigation/account-links.scss';
/**
 * MODULES
 * ---------------------------------------
 * Modules are larger pieces of functionality that consume components
 * It is common for there to only be one instance of each on a page
 *
 */
@import 'modules/header';
@import 'modules/footer';
@import 'modules/pencil-banner';
@import 'modules/ajax-cart';
@import 'modules/product-detail';
@import 'modules/navigation';
@import 'modules/hero';
@import 'modules/product-overview';
@import 'modules/product-features';
@import 'modules/collection-banner';
@import 'modules/style-tips';
@import 'modules/complete-the-look';
@import 'modules/product-sticky-bar';
@import 'modules/two-up-instagram';
@import 'modules/product-shipping-modal';
@import 'modules/section-image-plus-caption';
@import 'modules/richtext-section';
@import 'modules/tiled-image';
@import 'modules/video-section';
@import 'modules/scrolling-text';
@import 'modules/text-plus-signature';
@import 'modules/newsletter-popup';
@import 'modules/contact';
@import 'modules/fit-guide-drawer';
@import 'modules/product-upsell.scss';
@import 'modules/back-in-stock.scss';
@import 'modules/bundle-products.scss';
@import 'modules/featured-categories.scss';
@import 'modules/shop-the-look.scss';
@import 'modules/card-slider.scss';
@import 'modules/sticky-image.scss';
@import 'modules/value-proposition.scss';
@import 'modules/pdp-drawer-buttons.scss';
@import 'modules/features-detail-drawer.scss';
@import 'modules/pdp-content-slider.scss';
@import 'modules/mkt-subscription-drawer.scss';
@import 'modules/mentors-drawer.scss';


/**
 * Templates
 * ---------------------------------------
 * Styles *specific* to a shopify template
 * Only use if there is no less specific / more logical place to put styles
 * Try to use the body template class as a CSS hook
 *
 */
@import 'templates/cart.scss';
@import 'templates/findify-template.scss';
@import 'templates/404.scss';
@import 'templates/gift-card.scss';
@import 'templates/customer.scss';
@import 'templates/challenge.scss';
@import 'templates/password.scss';
@import 'templates/about-us.scss';
@import 'templates/faq.scss';


// Background animation styles
body {
  will-change: background-color;
  transition: background-color $transition-duration-medium
    $transition-timing-function-in-out-ui;

  // Prevents window scroll on drawer open
  &.drawer-open {
    position: relative;
    overflow: hidden !important;
  }
}

// img.animate {
//   opacity: 0;
//   transform: translateY(20%);
//   transition: $transition-duration-slow $transition-timing-function-in-out-ui;
//   transition-property: opacity, transition;

//   &.in {
//     opacity: 1;
//     transform: translateY(0);
//     transition: $transition-duration-slow $transition-timing-function-in-out-ui;
//   }
// }

// h1, h2, h3, h4, h5, h6,
// .h1, .h2, .h3, .h4, .h5, .h6 {
//   &.text-animate {
//     opacity: 0;
//     transform: translateX(10%);
//     transition: $transition-duration-slow $transition-timing-function-in-out-ui;
//     transition-property: opacity, transform;
//   }

//   &.in {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }

.findify-autocomplete {
  position: fixed;
}

.fade-animate {
  transform: translateY( 200px );
  opacity: 0;

  &.in {
    transition: $transition-duration-slow ease-in-out;
    transition-timing-function: transform, opacity;
    transform: translateY(0);
    opacity: 1;
  }
}

.inactive-white {
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  b,
  i,
  strong,
  em,
  span:not(.btn__ui),
  a:not(.btn)  {
    color: $white;
  }
}

.inactive-black {
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  b,
  i,
  strong,
  em,
  span:not(.btn__ui),
  a:not(.btn) {
    color: $black;
  }
}

.menu-open {
  overflow: hidden !important;
}


.development-mode {
  /* stylelint-disable-next-line selector-max-id */
  #preview-bar-iframe,
  .shopify-preview-bar {
    display: none;
  }
}

// Findify card updates
.findify-components--cards--product__image .findify-components-common--image.findify-components-common--image__aspect {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover !important;
}

.findify-components--cards--product__image .findify-components-common--image.findify-components-common--image__aspect img.findify-components-common--image__image {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

.findify-components--cards-product__color-item {
  padding: 0 !important;
  border: 2px solid transparent !important;
  border-radius: 7px !important;
  &:hover {
    @include media-breakpoint-up('md') {
      border-color: $core-grey-2 !important;
    }
  }
}

.findify-search-full-wrapper .findify-components--cards-product__color-ball {
  border-radius: 5px !important;
}

.findify-product-color-swatches-wrapper .findify-components--cards-product__color-item_active {
  border-color: #121212 !important;
  border-radius: 7px !important;
}
