{% if settings.enable_shopify_collection %}
  {% render 'shopify-collection' %}
{% else %}
  <div class="findify-template-container container-fluid">
    <div class="row justify-content-center">
      <div class="col-22 col-md-20 col-lg-22 col-xl-22" data-collection-template id="collection">

      </div>
    </div>
  </div>
  <script>
    window.collectionLimit = {{ settings.products_per_page }};
  </script>
{% endif %}

{% schema %}
  {
    "name": "Collection Grid",
    "presets": [{
      "category": "Collection",
      "name": "Collection Grid"
    }],
    "enabled_on": {
      "templates": ["collection"]
    }
  }
{% endschema %}
