{% assign title = 'customer.register.title' | t %}
{% assign page_hero_id = 'page-hero-' | append: section.id %}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="customers-register">
  <div class="container">

    {% include 'page-hero',
                ph_id: page_hero_id,
                ph_title: title,
    %}
    
    <div class="row justify-content-center">

      <div class="col-sm-12">
        <h5>{{ 'customer.register.title' | t }}</h5>

        {% if section.settings.register_subtitle != blank %}
          <div class="h6">{{ section.settings.register_subtitle }}</div>
        {% else %}
          <h6>{{ 'customer.register.subtitle' | t }}</h6>
        {% endif %}

        {% include 'customer-register-form',
                    marketing_checkbox_label: section.settings.confirmation_marketing,
                    terms_checkbox_label: section.settings.confirmation_terms,
                    show_cancel_button: true
        %}    
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Customers - Register",
    "settings": [
      {
        "id": "confirmation_marketing",
        "type": "richtext",
        "label": "Accepts Marketing Label",
        "info": "Leave blank for default message"
      },
      {
        "id": "confirmation_terms",
        "type": "richtext",
        "label": "Accepts Terms and Conditions",
        "info": "Leave blank for default message.  Be sure to add links to any relevant information pages"
      } 
    ]
  }
{% endschema %}
