<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="customers-register">
  <div class="container">
    <div class="row justify-content-center row-adjusted">
      <div class="col-22 col-lg-12">
        <h1 class="customer-drawer__title h6">{{ 'customer.register.title' | t | newline_to_br }}</h1>
        <div class="mb-3 p3">{{ 'customer.register.subtitle' | t }}</div>
        {% include 'customer-register-form',
                    marketing_checkbox_label: section.settings.confirmation_marketing,
                    terms_checkbox_label: section.settings.confirmation_terms,
                    show_cancel_button: true
        %}
      </div>
    </div>
  </div>
</div>
