{% assign title = 'customer.register.title' | t %}
{% assign page_hero_id = 'page-hero-' | append: section.id %}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="customers-register">
  <div class="container">
    <div class="row justify-content-center row-adjusted">

      <div class="col-22 col-md-12">
        <h1 class="h5 in">{{ 'customer.register.title' | t }}</h1>

        <div class="h6 in">{{ 'customer.register.subtitle' | t }}</div>
        {% include 'customer-register-form',
                    marketing_checkbox_label: section.settings.confirmation_marketing,
                    terms_checkbox_label: section.settings.confirmation_terms,
                    show_cancel_button: true
        %}
      </div>

    </div>
  </div>
</div>