{% if settings.account_pages_bg != blank %}
<div class="account__bg-image-container" style="background-color: {{ settings.account_form_bg_color }};">
  {% render 'responsive-image'
      image: settings.account_form_bg,
      loading: 'eager'
      image_sizes: '100vw'
      class: "account__bg-image"
  %}
</div>
{% endif %}
<div class="account__layout" data-section-id="{{ section.id }}" data-section-type="customers-register">
  <div class="container">
    <div class="row justify-content-center">
      <div class="account__info-container account__info-container--thin-padding">
        <h1 class="account__header">{{ 'customer.register.title' | t | newline_to_br }}</h1>
        <div class="account__description">{{ 'customer.register.subtitle' | t }}</div>
        {% include 'customer-register-form',
                    marketing_checkbox_label: section.settings.confirmation_marketing,
                    terms_checkbox_label: section.settings.confirmation_terms,
                    show_cancel_button: true
        %}
      </div>
    </div>
  </div>
</div>
