<div data-section-id="{{ section.id }}" data-section-type="header">

  <header class="header" role="banner" data-header>
    <div class="container-fluid">
    
      <div class="header-nav">
        <div class="header-nav__menu">
          <div class="header-nav__menu-item">
            <a href="#" title="Toggle menu" data-mobile-menu-toggle>
              {% include 'icon-hamburger' %}
              <span class="hide-on-mobile">Shop</span>
            </a>
          </div>

          <div class="header-nav header-nav--center header-nav--logo">
            {% include 'header-logo' %}
          </div>

          <div>
            {% if shop.customer_accounts_enabled %}
              <div class="header-nav__menu-item hide-on-mobile">
                {% if customer %}
                  <a href="/account" title="Account">Account</a>
                {% else %}
                  <a href="/account/login" title="Login or register">Sign In</a>
                {% endif %}
              </div>
            {% endif %}

            <div class="header-nav__menu-item">
              <a href="/cart" data-ajax-cart-trigger>
                <div class="header-cart__badge{% if cart.item_count > 0 %} has-items{% endif %}" data-cart-badge>
                  Bag
                  
                  {% if cart.item_count > 0 %}
                    <span class="header-cart__badge-count" data-cart-badge-count></span>
                  {% endif %}
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>






