<div data-section-id="{{ section.id }}" data-section-type="header">

  <header class="header" role="banner" data-header>
    <div class="header-container">

      <div class="header-nav">
        <div class="header-nav__menu">
          <div class="header-nav__menu-item">
            <a href="#" class="hamburger" data-mobile-menu-toggle>
              <span class="hamburger-box">
                <span class="hamburger-inner">
                </span>
              </span>
              <span class="hamburger-text hide-on-mobile">Menu</span>
            </a>
          </div>

          <div class="header-nav header-nav--center header-nav--logo">
            {% include 'header-logo' %}
          </div>

          <div>
            {% if settings.search_form == "findify" %}
              <div title="Toggle Search" data-search-drawer-toggle class="header-nav__menu-item header-nav__menu-item--search">
                {% include 'icon-search' %}
              </div>
            {% endif %}

            {% if shop.customer_accounts_enabled %}
              <div class="header-nav__menu-item hide-on-mobile">
                {% if customer %}
                  <a href="/account" title="Account">{% include 'icon-account' %}</a>
                {% else %}
                  <a href="/account/login" data-customers-drawer-toggle title="Login or register">{% include 'icon-account' %}</a>
                {% endif %}
              </div>
            {% endif %}

            <div class="header-nav__menu-item">
              <a href="/cart" data-ajax-cart-trigger>
                <div class="header-cart__badge" data-cart-badge>
                  {% include 'icon-bag' %}
                  <span class="header-cart__badge-count" data-cart-badge-count></span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if settings.search_form == "findify" %}
      {% include 'search-drawer' %}
    {% endif %}
  </header>
  <div class="header__filler" data-header-filler></div>
  <div id="main_navigation"></div>
</div>






