<div data-section-id="{{ section.id }}">

  {% include 'promo',
              p_id: section.id,
              p_layout: section.settings.layout,
              p_type: 3,
              p_bg_color: section.settings.background_color
              p_image: section.settings.image,
              p_image_small: section.settings.image_small,
              p_background_color: section.settings.background_color,
              p_title_color: section.settings.title_color,
              p_light: section.settings.light_text,
              p_eyebrow_icon: section.settings.eyebrow_icon,
              p_secondary_icon: section.settings.secondary_icon,
              p_eyebrow: section.settings.eyebrow,
              p_title_tag: section.settings.title_tag,
              p_title: section.settings.title,
              p_text: section.settings.text,
              p_cta_url: section.settings.cta_url,
              p_cta_text: section.settings.cta_text
  %}
</div>

{% schema %}
  {
    "name": "Promo",
    "class": "promo-section",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "eyebrow",
        "label": "Eyebrow"
      },
      {
        "type": "image_picker",
        "id": "eyebrow_icon",
        "label": "Eyebrow Icon"
      },
      {
        "type": "select",
        "id": "title_tag",
        "label": "Module Title Tag",
        "options": [
          {
            "value": "h1",
            "label": "h1"
          },
          {
            "value": "h2",
            "label": "h2"
          },
          {
            "value": "h3",
            "label": "h3"
          },
          {
            "value": "h4",
            "label": "h4"
          },
          {
            "value": "h5",
            "label": "h5"
          },
          {
            "value": "h6",
            "label": "h6"
          }
        ],
        "default": "h2"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA Link"
      },
      {
        "type": "image_picker",
        "id": "secondary_icon",
        "label": "Secondary Icon"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_small",
        "label": "Image - Mobile"
      },
      {
        "type": "header",
        "content": "Content - Options"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          { "value": "left", "label": "Image Left" },
          { "value": "right", "label": "Image Right" }
        ],
        "default": "left"
      },
      {
        "type": "checkbox",
        "id": "light_text",
        "label": "Light Text",
        "info": "Light text affects the eyebrow, copy and CTA."
      },
      {
        "type": "select",
        "id": "title_color",
        "label": "Title Color",
        "options": [
          {"label":"Primary-White", "value":"white"},
          {"label":"Primary-Black", "value":"black"},
          {"label":"Sport-Orange", "value":"red"},
          {"label":"Sport-Green", "value":"yellow"},
          {"label":"Sport-Blue", "value":"cyan"}
        ],
        "default": "white"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "options": [
          {"label": "Primary-White", "value":"#ffffff"},
          {"label": "Primary-Black", "value":"#121212"},
          {"label": "Utility-Charcoal", "value": "#424446"},
          {"label": "Utility-Army", "value": "#4A5D36"},
          {"label": "Utility-OffWhite", "value": "#F1F1F1"},
          {"label": "Utility-TealBlue", "value": "#2c6275"},
          {"label": "Utility-khaki", "value": "#C0B095"},
          {"label": "Utility-Crimson", "value": "#452b2b"},
          {"label": "Sport-Orange", "value":"#ff2b00"},
          {"label": "Sport-Green", "value": "#CCFF00"},
          {"label": "Sport-Blue", "value":"#009dcc"}
        ],
        "default": "#ffffff"
      }
    ],
    "presets": [
      {
        "name": "Promo",
        "category": "Media",
        "settings": {
          "title": "Promo Title",
          "text": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<\/p>"
        }
      }
    ]
  }
{% endschema %}
