{% assign show_banner = section.settings.banner_enabled %}
{% assign background_color = section.settings.background_color %}
{% assign banner_content = section.settings.banner_content %}
{% assign light_text = section.settings.light_text %}

<div data-section-id="{{ section.id }}" data-section-type="pencil-banner">
  {% if show_banner == true %}
    <div class="pencil-banner {% if light_text == true %}pencil-banner--light{% endif %}" style="background-color: {{ background_color }};">
      <div class="container">
        <div class="banner-content p2">{{ banner_content }}</div>
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Pencil Banner",
    "settings": [
      {
        "id": "banner_enabled",
        "type": "checkbox",
        "label": "Show Pencil Banner",
        "default": true
      },
      {
        "id": "light_text",
        "type": "checkbox",
        "label": "Light Text",
        "default": true
      },
      {
        "id": "banner_content",
        "type": "richtext", 
        "label": "Content"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "options": [
          { "value": "#f3f3f3", "label": "Gray" },
          { "value": "#121212 ", "label": "Black" },
          { "value": "#ccff00", "label": "Yellow" }
        ],
        "default": "#121212 "
      }
    ]
  }
{% endschema %}
