

<div data-section-id="{{section.id}}" data-section-type="product">
  <div class="container-fluid">
    <div class="row product-container">
      {% render 'sticky-image',
        object: product,
        metafields: product.metafields.custom_fields,
        collection: collection %}

      <div class="product-detail col-lg-24" data-product-detail>
        {% render 'product-detail-new'
          product: product,
          metafields: product.metafields.custom_fields
        %}

        {% render 'pdp-content-slider'
          blocks: section.blocks,
          metafields: product.metafields.custom_fields,
          prefix: 'value_props',
          bg_prefix: 'vp'
        %}

        {% if section.settings.stl_title != blank %}
          <{{section.settings.stl_title_tag}} class="shop-the-look__title">
            {{ section.settings.stl_title }}
          </{{section.settings.stl_title_tag}}>
        {% endif %}

        {% render 'shop-the-look'
          s: product.metafields.custom_fields,
          type: 'metafields'
        %}

        {% render 'value-proposition' %}

        {% render 'pdp-drawer-buttons' %}

        {% render 'pdp-content-slider'
          blocks: section.blocks,
          metafields: product.metafields.custom_fields,
          prefix: 'questions_slider',
          bg_prefix: 'qs'
        %}

        {% render 'product-card-slider'
          type: 'metafields',
          metafields: product.metafields.custom_fields,
          prefix: 'product-card-slider-',
          modifier_class: 'card-slider--pdp',
        %}
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product Page",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_klarna",
        "label": "Enable Klarna Messaging",
        "info": "Displays the klarna messaging below the price of the product."
      },
      {
        "type": "header",
        "content": "Back in stock settings"
      },
      {
        "type": "text",
        "id": "bis_notify_text",
        "label": "Notify Text",
        "default": "Get notified when the [[product]] [[color]] is back in size [[size]]",
        "info": "Define the verbiage for the body, use [[product]] to render the product tile, [[color]] for the variant color and [[size]] for the variant size (the latest will get updated depending on the customer selection)"
      },
      {
        "type": "textarea",
        "id": "bis_success_message",
        "label": "Success Message",
        "default": "Thanks for subscribing, you'll be notified when the product gets back!"
      },
      {
        "type": "textarea",
        "id": "bis_error_message",
        "label": "Error Message",
        "default": "We got an error when trying to subscribe you, please try again later",
        "info": "Generic message to let the user know that there was an error"
      },
      {
        "type": "url",
        "id": "bis_tos_link",
        "label": "TOS link"
      },
      {
        "type": "url",
        "id": "bis_privacy_link",
        "label": "Privacy Policy link"
      },
      {
        "type": "header",
        "content": "Shop the look"
      },
      {
        "type": "text",
        "id": "stl_title",
        "label": "Module Title",
        "default": "Shop the look"
      },
      {
        "type": "select",
        "id": "stl_title_tag",
        "label": "title tag",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "h1"
          },
          {
            "value": "h2",
            "label": "h2"
          },
          {
            "value": "h3",
            "label": "h3"
          },
          {
            "value": "h4",
            "label": "h4"
          },
          {
            "value": "h5",
            "label": "h5"
          },
          {
            "value": "h6",
            "label": "h6"
          }
        ]
      }
    ],
    "blocks": [
      {
        "name": "Value Prop Slide",
        "type": "value_props",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "body_content",
            "label": "Body Content"
          },
          {
            "type": "url",
            "id": "button_url_1",
            "label": "Button 1 Link"
          },
          {
            "type": "text",
            "id": "button_text_1",
            "label": "Button 1 Text"
          },
          {
            "type": "checkbox",
            "id": "enable_email_button_1",
            "label": "Open email client?",
            "default": false,
            "info": "Ignores the button URL and forces opening an email client with the following subject: Product Question - {Product name}"
          },
          {
            "type": "url",
            "id": "button_url_2",
            "label": "Button 2 Link"
          },
          {
            "type": "text",
            "id": "button_text_2",
            "label": "Button 2 Text"
          },
          {
            "type": "checkbox",
            "id": "enable_email_button_2",
            "label": "Open email client?",
            "default": false,
            "info": "Ignores the button URL and forces opening an email client with the following subject: Product Question - {Product name}"
          }
        ]
      },
      {
        "name": "Question Slide",
        "limit": 1,
        "type": "questions_slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "body_content",
            "label": "Body Content"
          },
          {
            "type": "url",
            "id": "button_url_1",
            "label": "Button 1 Link"
          },
          {
            "type": "text",
            "id": "button_text_1",
            "label": "Button 1 Label"
          },
          {
            "type": "url",
            "id": "button_url_2",
            "label": "Button 2 Link"
          },
          {
            "type": "text",
            "id": "button_text_2",
            "label": "Button 2 Label"
          }
        ]
      }
    ]
  }
{% endschema %}
