

<div data-section-id="{{section.id}}" data-section-type="product">
  <div class="container-fluid">
    <div class="row product-container">
      {% render 'sticky-image',
        object: product,
        metafields: product.metafields.custom_fields,
        collection: collection %}

      <div class="product-detail col-lg-24" data-product-detail>
        {% render 'product-detail-new'
          product: product,
          metafields: product.metafields.custom_fields
        %}

        {% render 'pdp-content-slider'
          metafields: product.metafields.custom_fields,
          prefix: 'value_props',
          bg_prefix: 'vp'
        %}

        {% include 'shop-the-look'
          s: product.metafields.custom_fields,
          type: 'metafields'
        %}

        {% render 'value-proposition' %}

        {% include 'pdp-drawer-buttons' %}

        {% render 'pdp-content-slider'
          metafields: product.metafields.custom_fields,
          prefix: 'questions_slider',
          bg_prefix: 'qs'
        %}

      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product Page",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_klarna",
        "label": "Enable Klarna Messaging",
        "info": "Displays the klarna messaging below the price of the product."
      },
      {
        "type": "header",
        "content": "Back in stock settings"
      },
      {
        "type": "text",
        "id": "bis_notify_text",
        "label": "Notify Text",
        "default": "Get notified when the [[product]] [[color]] is back in size [[size]]",
        "info": "Define the verbiage for the body, use [[product]] to render the product tile, [[color]] for the variant color and [[size]] for the variant size (the latest will get updated depending on the customer selection)"
      },
      {
        "type": "textarea",
        "id": "bis_success_message",
        "label": "Success Message",
        "default": "Thanks for subscribing, you'll be notified when the product gets back!"
      },
      {
        "type": "textarea",
        "id": "bis_error_message",
        "label": "Error Message",
        "default": "We got an error when trying to subscribe you, please try again later",
        "info": "Generic message to let the user know that there was an error"
      },
      {
        "type": "url",
        "id": "bis_tos_link",
        "label": "TOS link"
      },
      {
        "type": "url",
        "id": "bis_privacy_link",
        "label": "Privacy Policy link"
      }
    ]
  }
{% endschema %}
