<div data-section-id="{{ section.id }}" data-section-type="search-drawer" class="search-drawer">

  <div class="drawer drawer--top" data-search-drawer>

    <div class="drawer__inner">
      <div class="drawer__body">
        <a href="#" class="drawer__close" data-drawer-close>
          {% include 'icon-close' %}
        </a>
        
        <div class="drawer__body-contents">
          <div class="minimal-input-box">
            <div class="search-icon">
              {% include 'icon-search' %}
            </div>

            <input type="text" name="q" placeholder="Search" class="minimal-input-box__input minimal-input-box__input--search" autocomplete="off" data-search-input />
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

