.idme {
  padding-bottom: 1.5em;
  width: 100%;
}
.idme-shopify {}
.idme-btn-affinity {
  padding-bottom: .75em;
  text-align: left;
}
.idme-btn-unify {}
#cart-notification .idme-btn-affinity {
  width: 100%;
}
