// -------------------------
// Mixin - Type
// -------------------------
//

@mixin h1 {
  font-family: 'Sequel Sans Title', sans-serif;
  font-size: 32px;
  line-height: 1;
  @include media-breakpoint-up('md') {
    font-size: 50px;
  }
  @include media-breakpoint-up('lg'){
    font-size: 78px;
  }
}

@mixin h2 {
  font-family: 'Sequel Sans title', sans-serif;
  font-size: 28px;
  line-height: 1;
  @include media-breakpoint-up('md'){
    font-size: 44px;
  }
  @include media-breakpoint-up('lg'){
    font-size: 68px;
  }
}

@mixin h3 {
  font-family: 'Sequel Sans Title', sans-serif;
  font-size: 26px;
  line-height: 1;
  @include media-breakpoint-up('md') {
    font-size: 41px;
  }
  @include media-breakpoint-up('lg'){
    font-size: 63px;
  }
}

@mixin h4 {
  font-family: 'Sequel Sans Medium Title', sans-serif;
  font-size: 24px;
  line-height: 1;
  @include media-breakpoint-up('md') {
    font-size: 38px;
  }
  @include media-breakpoint-up('lg'){
    font-size: 60px
  }
}

@mixin h5 {
  font-family: 'Sequel Sans Medium Title', sans-serif;
  font-size: 18px;
  line-height: 1;
  @include media-breakpoint-up('md') {
    font-size: 28px;
  }
  @include media-breakpoint-up('lg'){
    font-size: 44px;
  }
}

@mixin h6 {
  font-family: 'Sequel Sans Small Title', sans-serif;
  font-size: 15px;
  line-height: 17px;
  @include media-breakpoint-up('md') {
    font-size: 23px;
    line-height: 25px;
  }
  @include media-breakpoint-up('lg'){
    font-size: 37px;
    line-height: 39px;
  }
}

@mixin h7 {
  font-family: 'Sequel Sans Small Title', sans-serif;
  font-size: 13px;
  line-height: 15px;
  @include media-breakpoint-up('md') {
    font-size: 20px;
    line-height: 23px;
  }
  @include media-breakpoint-up('lg') {
    font-size: 31px;
    line-height: 36px;
  }
}

@mixin p1 {
  font-family: 'Sequel Sans Body', serif;
  font-size: 17px;
  line-height: 27px;
  @include media-breakpoint-up('md') {
    font-size: 27px;
    line-height: 37px;
  }
  @include media-breakpoint-up('lg') {
    font-size: 33px;
    line-height: 43px;
  }
}

@mixin p2 {
  font-family: 'Sequel Sans Body', sans-serif;
  font-size: 15px;
  line-height: 22px;
  @include media-breakpoint-up('md') {
    font-size: 22px;
    line-height: 33px;
  }
  @include media-breakpoint-up('lg'){
    font-size: 27px;
    line-height: 38px;
  }
}

@mixin p3 {
  font-family: 'Sequel Sans Body', sans-serif;
  font-size: 14px;
  line-height: 22px;
  @include media-breakpoint-up('md') {
    font-size: 19px;
    line-height: 29px;
  }
  @include media-breakpoint-up('lg') {
    font-size: 23px;
    line-height: 37px;
  }
}

@mixin p4 {
  font-family: 'Sequel Sans Body', sans-serif;
  font-size: 10px;
  line-height: 15px;
  @include media-breakpoint-up('md') {
    font-size: 16px;
    line-height: 23px;
  }
  @include media-breakpoint-up('lg') {
    font-size: 20px;
    line-height: 29px;
  }
}

// RTE styling for long form content
@mixin article-content {
  margin-bottom: $grid-gutter-width;

  h1, h2, h3, h4, h5, h6 {
    margin: $spacer*2.5 0 $spacer*2;
  }

  p + p {
    margin-top: $spacer*2;
  }

  p {
    > img:only-child {
      margin: $spacer*2 0;
    }
  }
}
