
.reviews__drawer {

}

.reviews__drawer-header {
  margin-bottom: 0;
}

.reviews__drawer-title {
  font-size: 24px;
  font-family: $font-family-heading-large;
  line-height: 1;
}

.reviews__drawer-body {
  padding: 0 30px 30px;
}

#product-reviews {
  .yotpo-main-widget {
    margin: 0;
  }

  .yotpo-label-container {
    display: none;
  }

  .yotpo-regular-box.yotpo-bottomline {
    background-color: $bg-white;

  }

  .bottom-line-items-container {
    margin: 0;
    padding-bottom: 15px;
  }

  .bottom-line-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-down('md') {
      margin-bottom: unset;
    }
  }

  .yotpo-filter-stars {
    order: -1;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .avg-score {
    box-shadow: 0 -9px 0 inset $green;
    font-size: 18px;
    font-family: $font-family-heading-medium;
    font-weight: normal;
    letter-spacing: unset;
    width: auto;
    display: flex;
    margin-right: 5px;
    height: auto;
    line-height: unset;
    color: $black;

    &:after {
      content: "Stars";
      display: block;
      margin-left: 5px;
    }
  }

  .reviews-qa-labels-container {
    height: unset;
    line-height: 1;
    margin-left: 0;
    span, &:before {
      text-transform: lowercase;
      font-family: $font-family-heading-medium;
      font-size: 18px;
      color: $black;
      line-height: unset;
    }

    &:before {
      content: "out of";
      display: inline-block;
      @include media-breakpoint-down('md') {
        margin-right: 5px;
      }
    }

    @include media-breakpoint-down('md') {
      position: relative;
      margin-right: 5px;
      padding-top: 10px;
    }

    .reviews-qa-label {
      width: auto;
    }
  }

  .pT20,
  .aggregated-product-related-fields {
    display: none;
  }

  .write-question-review-buttons-container {
    width: 100%;
    background-color: $bg-white;
    text-align: center;
    padding-bottom: 30px;
    float: none;
  }

  .write-question-review-button {
    width: unset;
  }

  .yotpo-default-button {
    background-color: $black;
    border-radius: 90px;
    padding: 12px 30px !important;
    box-sizing: border-box;
    height: unset;

    span {
      font-size: 13px;
      line-height: 1;
      color: white;
      font-family: $font-family-heading-medium;
    }

    &:hover {
      background-color: $blue !important;
      color: $white;
    }

    .yotpo-icon {
      display: none;
    }
  }

  // Yotpo Stars
  @if $yotpo-icon-star {
    .yotpo-icon.rating-star,
    .yotpo-icon.review-star {
      background: none;
      display: inline-block;
      position: relative;

      &:hover:before {
        content: "" !important;
      }

      &:focus {
        outline: none !important;
      }

      &:before {
        content: "";
        background-color: $gray-lighter;
        background-image: url($yotpo-icon-star);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
  }

  @if $yotpo-icon-star-half {
    .yotpo-icon-half-star.rating-star,
    .yotpo-icon-empty-star.review-star {
      display: inline-block;
      position: relative;

      &:hover:before {
        content: "" !important;
      }

      &:focus {
        outline: none !important;
      }

      &:before {
        content: "";
        background-image: url($yotpo-icon-star-half);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
  }

  @if $yotpo-icon-star-empty {
    .yotpo-icon-default-empty-star,
    .yotpo-icon-empty-star {
      display: inline-block;
      position: relative;

      &:hover:before {
        content: "" !important;
      }

      &:focus {
        outline: none !important;
      }

      &:before {
        content: "";
        background-image: url($yotpo-icon-star-empty);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
      }
    }
  }
  // End yotpo stars

  // Reviews
  .new-yotpo-small-box,
  .yotpo-reviews-filters,
  .yotpo-reviews-header {
    display: none;
  }

  .yotpo-reviews {
    margin-top: 30px;

    .yotpo-icon-star:before {
      background-color: $white;
    }
  }

  .yotpo-icon-profile {
    display: none !important;
  }

  .yotpo-review__date {
    display: none;
  }

  .yotpo-review .yotpo-header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .yotpo-review .yotpo-header-element {
    display: flex;
    flex-direction: column;
  }

  .yotpo-review .yotpo-header-actions {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    order: -1;
  }

  .yotpo-review-date {
    font-size: 14px;
    font-family: $font-family-base;
    line-height: 1.5;
    color: $black;
  }

  .yotpo-user-name {
    align-self: flex-end;
    margin-right: 0;
    font-size: 14px;
    font-family: $font-family-base;
    line-height: 1.5;
    color: $black;
    align-self: flex-end;
    font-weight: normal;
  }

  .label-with-tooltip {
    display: none;
  }

  .yotpo-user-field {
    display: none;
  }

  .yotpo-review .yotpo-review-stars {
    width: 100%;
    margin-top: -40px;
  }

  .yotpo-user-related-fields {
    margin-top: 10px;
    display: block !important;
    .yotpo-user-name {
      display: none;
    }
  }

  .yotpo-user-field.size-fit-field,
  .yotpo-user-field.recommend-field {
    display: block;
    width: 100%;

    .yotpo-user-field-description {
      font-style: normal !important;
      font-family: $font-family-base;
      font-size: 14px;
      font-weight: bold;
      color: $black;
    }

    .yotpo-user-field-answer {
      font-size: 14px;
      font-family: $font-family-base;
      font-style: normal !important;
      color: $black;
    }
  }

  .yotpo-main {
    margin-left: 0;
  }

  .yotpo-multiple-rating-fields {
    display: none;
  }

  .content-title[role="heading"] {
    display: none;
  }

  .content-review,
  .content-review .rest-content-collapsed {
    font-family: $font-family-base;
    font-size: 17px;
    color: $black;
  }

  .yotpo-read-more {
    font-family: $font-family-base;
    font-size: 17px;
    color: $blue;
  }

  .yotpo-footer {
    display: none;
  }
  // End reviews

  //Review form
  .write-review {
    .form-group {
      display: block;
    }
    .yotpo-header-title {
      font-size: 20px;
      font-family: $font-family-heading-medium;
      color: $black;
      margin-bottom: 0;
    }

    .yotpo-mandatory-explain,
    .yotpo-mandatory-mark,
    .y-label {
      font-size: 17px;
      font-family: $font-family-base;
      color: $black;
      white-space: normal;
    }

    .yotpo-mandatory-mark {
      color: $red;
    }

    .yotpo-icon {
      cursor: pointer;
      &:before {
        background-color: $white;
      }
    }
    .socialize-wrappe {
      display: none;
    }

    .connect-wrapper {
      padding: 0;
    }

    .form-element {
      width: 100%;
      padding-right: 0;

      &.name-input {
        padding-bottom: 25px;
      }
    }

    input {
      font-family: $font-family-base;
      color: $black;
      border: none;
      border-bottom: 2px solid $black;
    }

    textarea {
      font-family: $font-family-base;
      color: $black;
      border: 2px solid $black;
    }

    input:focus,
    input:active,
    textarea:focus,
    textarea:active {
      outline: none;
    }

    .yotpo-default-button {
      color: $white;
      font-family: $font-family-base;
      font-size: 13px;
      text-transform: none;
    }
  }
  //End review form

  //Yotpo Pagination
    .yotpo-page-element {
      font-family: $font-family-heading-medium;
      &.yotpo-active {
        color: $blue !important;
      }
    }
  //End Yotpo pagination
}