.yotpo-reviews-container {
  background-color: $white;
  margin-bottom: 100px;
  @include media-breakpoint-down('md') {
    margin-bottom: 65px;
  }

  .yotpo.yotpo {

    div,
    span,
    p,
    a,
    img,
    i,
    strong,
    sup,
    ul,
    li,
    form,
    label {
      font-family: $font-family-base !important;
      font-size: $font-size-base;
      line-height: $line-height-base !important;
      color: $body-color !important;
    }

    @if $yotpo-icon-star {
      .yotpo-icon-default-star,
      .yotpo-icon-star {
        width: large-vw(30px, 100px) !important;
        height: large-vw(30px, 100px) !important;
        display: inline-block;
        position: relative;

        @include media-breakpoint-down('md') {
          width: 30px !important;
          height: 30px !important;
        }

        &:hover:before {
          content: "" !important;
        }

        &:focus {
          outline: none !important;
        }

        &:before {
          content: "";
          background-image: url($yotpo-icon-star);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
        }
      }
    }

    @if $yotpo-icon-star-half {
      .yotpo-icon-default-half-star,
      .yotpo-icon-half-star {
        width: large-vw(30px, 100px) !important;
        height: large-vw(30px, 100px) !important;
        display: inline-block;
        position: relative;

        @include media-breakpoint-down('md') {
          width: 30px !important;
          height: 30px !important;
        }

        &:hover:before {
          content: "" !important;
        }

        &:focus {
          outline: none !important;
        }

        &:before {
          content: "";
          background-image: url($yotpo-icon-star-half);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
        }
      }
    }

    @if $yotpo-icon-star-empty {
      .yotpo-icon-default-empty-star,
      .yotpo-icon-empty-star {
        width: large-vw(30px, 100px) !important;
        height: large-vw(30px, 100px) !important;
        display: inline-block;
        position: relative;

        @include media-breakpoint-down('md') {
          width: 30px !important;
          height: 30px !important;
        }

        &:hover:before {
          content: "" !important;
        }

        &:focus {
          outline: none !important;
        }

        &:before {
          content: "";
          background-image: url($yotpo-icon-star-empty);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
        }
      }
    }

    //Hide Elements
    .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-default-button.yotpo-icon-btn.yotpo-hidden-mobile.write-button.write-review-button,
    .yotpo-regular-box.yotpo-bottomline-2-boxes .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .questions.pull-left,
    div.write-review.yotpo-regular-box .yotpo-footer .socialize-wrapper,
    .yotpo-default-button.yotpo-icon-btn.write-question-button,
    .yotpo-default-button .yotpo-icon.yotpo-icon-write,
    .yotpo-review.yotpo-regular-box .yotpo-footer,
    .yotpo-icon-profile.yotpo-header-element,
    .yotpo-icon-profile-social,
    .yotpo-reviews .yotpo-first-review,
    span.yotpo-icon.yotpo-icon-heart,
    .yotpo-small-box.yotpo-nav,
    .yotpo-star-distribution,
    .yotpo-thankyou-footer,
    .yotpo-logo-link-new{
      display: none !important;
    }

    .yotpo-review .yotpo-main .yotpo-multiple-rating-fields,
    .yotpo-comment .yotpo-main .yotpo-multiple-rating-fields,
    .yotpo-question .yotpo-main .yotpo-multiple-rating-fields,
    .yotpo-onsite-upload .yotpo-main .yotpo-multiple-rating-fields {
      display: none;
    }

    &,
    &.yotpo-small {
      .yotpo-review .yotpo-header .yotpo-review-stars .yotpo-user-related-fields,
      .yotpo-comment .yotpo-header .yotpo-review-stars .yotpo-user-related-fields,
      .yotpo-question .yotpo-header .yotpo-review-stars .yotpo-user-related-fields,
      .yotpo-onsite-upload .yotpo-header .yotpo-review-stars .yotpo-user-related-fields {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include media-breakpoint-down('md') {
          order: -1;
          margin-top: 0;
          margin-bottom: 20px;
        }

        .yotpo-user-field {
          font-size: large-vw(15px, 20px) !important;
          @include media-breakpoint-down('md') {
            font-size: 15px !important;
          }
          &.size-fit-field {
            order: 3;
          }
          &.recommend-field {
            order: 4;
          }
          .yotpo-user-field-description {
            font-style: normal !important;
            font-size: large-vw(15px, 20px) !important;
            @include media-breakpoint-down('md') {
              font-size: 15px !important;
            }
          }
          .yotpo-user-field-answer {
            font-size: large-vw(15px, 20px) !important;
            @include media-breakpoint-down('md') {
              font-size: 15px !important;
            }
          }
        }
        .label-with-tooltip {
          line-height: 1 !important;
          margin-top: 15px;
          @include media-breakpoint-down('md') {
            margin-top: 0;
          }
        }
      }
    }

    .yotpo-review .yotpo-header .yotpo-review-stars,
    .yotpo-comment .yotpo-header .yotpo-review-stars,
    .yotpo-question .yotpo-header .yotpo-review-stars,
    .yotpo-onsite-upload .yotpo-header .yotpo-review-stars {
      display: flex;
      flex-wrap: wrap;
    }

    &,
    &.yotpo-small {
      .yotpo-bottomline.yotpo-bottomline-3-boxes .yotpo-bottomline-box-2,
      .yotpo-modal-dialog .yotpo-bottomline.yotpo-bottomline-3-boxes .yotpo-bottomline-box-2 {
        display: none;
      }
    }

    .main-widget.yotpo-display-wrapper {
      display: flex;
      flex-direction: column;

      .yotpo-display-wrapper {
        order: 1;
      }

      .yotpo-label.yotpo-small-box {
        order: 2;
        padding: 0 0 large-vw(28px, 62px);
        display: flex;
        justify-content: center;
        border-bottom: solid 4px $black;
      }

      .yotpo-messages,
      form {
        order: 3;
      }

      .yotpo-nav-content {
        order: 4;
      }

      .yotpo-regular-box {
        border-top: none;
      }
    }

    .yotpo-thank-you {
      border: 0 !important;
      border-bottom: solid 4px !important;
    }

    // General elements
      .yotpo-regular-box.yotpo-bottomline-3-boxes,
      .yotpo-regular-box.yotpo-bottomline-2-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: large-vw(68px, 160px) 0 0;
        height: auto !important;

        @include media-breakpoint-down('md') {
          padding: 68px 0 0px !important;
        }

        .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews {
          display: flex;
          flex-direction: column;
          align-items: center;

          span.yotpo-sum-reviews span{
            font-weight: $font-weight-semi-bold;
            line-height: large-vw(30px, 65px) !important;
            font-size: large-vw(20px, 35px) !important;
            padding: 0;
            margin-bottom: large-vw(0px, 42px);

            @include media-breakpoint-down('md') {
              line-height: 30px !important;
              font-size: 20px !important;
              margin-bottom: 0;
            }
          }
        }

        .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-stars {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .yotpo-icon {
            width: large-vw(24px ,75px) !important;
            height: large-vw(24px ,75px) !important;
            background: none !important;
            margin-bottom: large-vw(28px, 55px);

            @include media-breakpoint-down('md') {
              width: 24px !important;
              height: 24px !important;
              margin-bottom: 28px;
            }
          }
        }

        .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-stars:after {
          content: "Don’t believe the hype - believe the reviews";
          font-size: large-vw($h2-font-size-mobile, $h2-font-size) !important;
          font-family: $headings-font-family!important;
          text-transform: uppercase;
          line-height: large-vw(45px, 125px) !important;
          text-align: center;
          margin-bottom: large-vw(15px, 40px);


          @include media-breakpoint-down('md') {
            font-size: 40px !important;
            line-height: 1em !important;
            margin-bottom: 15px;
          }
        }
      }

      .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews {
        max-width: 100% !important;

        .yotpo-stars {
          padding: 0;
        }
      }

      .yotpo-product-related-wrapper {
          background-color: transparent !important;
          padding: 0 !important;
        }

        .yotpo-product-related-field-name {
          font-family: $font-family-base !important;
          font-weight: bold;
        }

        .yotpo-product-related-fields-bars {
          display: flex;
          align-items: center;
          height: large-vw(30.5px, 43px) !important;

          @include media-breakpoint-down('md') {
            height: 30.5px !important;
          }
        }

    // Single Review
      .yotpo-review.yotpo-regular-box {
        display: flex;
        margin: 0;
        padding: large-vw(45px, 80px) 0 large-vw(45px, 80px);
        justify-content: space-between;
        border-bottom: solid 4px $black;

        @include media-breakpoint-down('md') {
          flex-direction: column;
          padding: 20px 0 35px;
        }

        .yotpo-review-stars .yotpo-icon {
          width: large-vw(30px, 62px) !important;
          height: large-vw(30px, 62px) !important;
          background: unset !important;

          @include media-breakpoint-down('md') {
            width: 30px !important;
            height: 30px !important;
            order: 1;
          }
        }

        .yotpo-header {
          width: 30%;
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          @include media-breakpoint-down('md') {
            width: 100%;
            margin-bottom: 10px;
          }

          .yotpo-header-element  {
            display: flex;
            flex-direction: column-reverse;
          }

          .yotpo-header-element span.y-label.yotpo-review-date {
            font-size: large-vw(12px, 20px) !important;

            @include media-breakpoint-down('md') {
              font-size: 12px !important;
            }
          }

          .yotpo-header-element span.y-label.yotpo-user-name {
            font-size: large-vw(20px, 40px) !important;
            margin-bottom: 25px;

            @include media-breakpoint-down('md') {
              font-size: 20px !important;
              margin-bottom: 10px;
            }
          }
          .yotpo-header-element.yotpo-header-actions,
          .yotpo-header-element > .label-with-tooltip,
          .yotpo-header-element > span.y-label.yotpo-user-name {
            display: none;
          }
        }

        .yotpo-main {
          width: 68%;
          margin: 0;

          @include media-breakpoint-down('md') {
            width: 100%;
          }
        }

        .content-title {
          font-size: large-vw(40px, 75px) !important;
          font-weight: $font-weight-normal !important;
          font-family: $headings-font-family !important;
          margin-bottom: large-vw(20px, 45px);
          line-height: large-vw(35px, 85px) !important;

          @include media-breakpoint-down('md') {
            font-size: 35px !important;
            line-height: 35px !important;
            margin-bottom: 25px;
            padding: 0;
          }
        }

        .yotpo-review-wrapper .content-review {
          font-size: large-vw(20px, 35px) !important;
          font-weight: $font-weight-semi-bold;
          line-height: large-vw(30px, 65px) !important;

          @include media-breakpoint-down('md') {
            font-size: 20px !important;
            line-height: 30px !important;
            letter-spacing: 0;
          }
        }

        span.y-label.yotpo-user-title.yotpo-action-hover {
          font-size: large-vw(10px, 22px) !important;
          font-weight: $font-weight-bold;
          color: $cyan !important;
          text-transform: uppercase;

          @include media-breakpoint-down('md') {
            font-size: 10px !important;
          }
        }
      }

    // Yotpo Buttons
    .yotpo-default-button.yotpo-icon-btn.yotpo-hidden-mobile.write-button.write-review-button {
      background: transparent;
      position: initial;
      border: none;
      display: block !important;
      background-image: url('icon-arrow-yotpo.svg');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      padding: 0 large-vw(40px, 70px) 0;
      margin-bottom: 0;
      outline: none;

      @include media-breakpoint-down('md') {
        text-align: center;
        padding: 4px 50px 4px 0;
        margin-bottom: 25px;
      }

      span {
        font-weight: $font-weight-bold;
        color: $cyan !important;
        font-size: large-vw(18px, 28px) !important;
        text-transform: capitalize;
        display: block;

        @include media-breakpoint-down('md') {
          font-size: 18px !important;
        }
      }
    }

    // Review Form
    div.write-review.yotpo-regular-box {
      margin: 0;


      .yotpo-header {
        margin-bottom: 30px;

        @include media-breakpoint-down('md') {
          margin-bottom: 50px;
        }

        .yotpo-icon-default-star,
        .yotpo-icon-star,
        .yotpo-icon-default-half-star,
        .yotpo-icon-half-star,
        .yotpo-icon-default-empty-star,
        .yotpo-icon-empty-star {
          width: large-vw(30px, 70px) !important;
          height: large-vw(30px, 70px) !important;
          background-size: 0;

          @include media-breakpoint-down('md') {
            width: 30px !important;
            height: 30px !important;
          }
        }
      }

      .yotpo-header h2.y-label.yotpo-header-title {
        font-size: 50px;
        padding: 0;
        text-align: center;
        color: $black;

        @include media-breakpoint-down('md') {
          font-size: 50px;
        }
      }

      .form-element {
        @include media-breakpoint-down('md') {
          margin-bottom: 38px;
        }
      }

      .form-group {
        display: unset;
        .form-element .y-label.yotpo-field-title {
          white-space: normal;
        }
      }

      .yotpo-header span.y-label,
      .form-element label{
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        padding: 0;
        font-size: large-vw(25px, 40px);
        margin-bottom: large-vw(12px, 25px);

        @include media-breakpoint-down('md') {
          font-size: 20px !important;
          margin-bottom: 12px;
        }
      }

      .form-element span.yotpo-mandatory-mark,
      .yotpo-header .yotpo-mandatory-mark,
      .form-element input,
      .form-element textarea {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        border: none;
        border-bottom: solid 4px $black;
        color: $black;
        font-size: large-vw(17px, 30px);
        height: large-vw(45px, 75px);
        margin: 0 0 75px;

        @include media-breakpoint-down('md') {
          border-bottom: solid 2px $black;
          padding: 0px 0 10px;
          font-size: 17px;
          height: 45px;
          margin-bottom: 0;
        }

        &:focus {
          outline: none !important;
        }
      }

      .form-element textarea {
        border: solid;
        min-height: 300px;
        padding: 18px 30px;
      }

      .yotpo-header .yotpo-mandatory-mark,
      .form-element span.yotpo-mandatory-mark {
        border: none;
        margin: 0;
        padding: 0;
      }

      .form-element.submit-button {
        width: 100%;
        display: flex;
        justify-content: center;

        @include media-breakpoint-down('md') {
        }
      }

      .yotpo-size-field-buttons {
        .yotpo-radio-wrapper {
          height: large-vw(30.5px, 43px) !important;
          display: flex;
          align-items: center;

          @include media-breakpoint-down('md') {
            height: 30.5px !important;
          }
        }
      }

      .yotpo-size-field-bars {
        opacity: 0;
        .yotpo-field-bars-container {
          .yotpo-size-bars {
            display: flex;
            align-items: center;
            height: large-vw(30.5px, 43px);

            @include media-breakpoint-down('md') {
              height: 30.5px;
            }
          }
          .yotpo-product-related-field-score-bar {
            margin-top: 0 !important;
          }
        }
      }

      input.yotpo-default-button.primary-color-btn.yotpo-submit {
        font-weight: $font-weight-bold !important;
        color: $white !important;
        background: $black !important;
        padding: 20px 100px !important;
        border-radius: 40px;
        height: 80px;

        @include media-breakpoint-down('md') {
          margin: 10px 0 10px !important;
          padding: 10px 100px !important;
          height: 60px;
        }
      }

      .yotpo-footer .connect-wrapper {
        padding: 0 !important;
      }
    }


    .yotpo-pager {
      margin: large-vw(80px, 130px) 0 !important;

      @include media-breakpoint-down('md') {
        margin: 60px 0 0 !important;
      }
    }
  }
}


.yotpo-reviews-container .yotpo.yotpo .yotpo-review.yotpo-regular-box:last-child {
    border: none !important;
}

.yotpo .yotpo-review .yotpo-header .yotpo-review-stars {
  @include media-breakpoint-down('md') {
    width: 100% !important;
    float: none !important;
    display: flex !important;
    flex-wrap: wrap;
  }
}

.yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-header-element .yotpo-review-stars .yotpo-user-related-fields {
  @include media-breakpoint-down('md') {
    margin-top: 0;
    width: 100%;
    margin-bottom: 25px;
    order: 0;
  }
}

// Comments responses
.yotpo-reviews-container .yotpo-review.yotpo-regular-box {
  flex-wrap: wrap;

  .yotpo-comments-box {
    margin-left: 32%;
    width: 68%;
    border: 0;

    @include media-breakpoint-down('md') {
      width: 100%;
      margin-left: 0 !important;
      .yotpo-comment-box {
        margin-left: 0;
      }
    }

    .yotpo-main {
      width: 100% !important;

      .content-review {
        font-size: 0.8rem;

        &:before {
          content: "Response from municipal:";
          color: $cyan;
          font-weight: $font-weight-bold;
          font-size: 0.8em;
          display: block;
        }
      }
    }
  }

  .yotpo-header.yotpo-store-owner {
    margin-bottom: large-vw(0 ,60px);
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center !important;
    width: 100% !important;

    @include media-breakpoint-down('md') {
      margin-bottom: 0;
    }

    .yotpo-header-actions {
      display: block !important;
    }
  }

  .yotpo-header-element {
    .stars-and-name .y-label {
      margin-bottom: 0 !important;
    }
    > div:last-of-type {
      display: none;
    }
  }

  .yotpo-comment-box.yotpo-comment {
    margin-left: 0;
    background-color: $gray-light;
    padding: large-vw(30px, 50px) large-vw(15px, 40px);

    @include media-breakpoint-down('md') {
      padding: 30px 15px;
      margin-left: 0 !important;
    }
  }
}
// End of comments responses